$mainFont: "Tahoma";
$mainFontWeight: 400;
$transform: uppercase;
@mixin font {
  font-family: $mainFont;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
}
.globalFooter{
  height: 290px;
  @media screen and (max-width:725px){
    height: auto;
  }
  background-color: #040d2e;
  .footer{
    max-width: 1000px;
    margin:auto;
    display: flex;
    padding-top: 59px;
    border-bottom: 1px solid #1e2f6d;
    padding-bottom: 15px;
    flex-wrap: wrap;
    .footer-links{
      width: 20%;
      @media screen and (max-width:725px){
        width: 100%;
      }
      li.first-link{
        color: #ffffff;
        font-family: $mainFont;
        font-size: 16px;
        font-weight: 500;
      }
      li.second-link{
        margin-top: 24px;
      }
      li.link{
        color: #2d3450;
        font-family: $mainFont;
        font-size: 16px;
        font-weight: 300;
        img{
          @media screen and (max-width:1054px){
            width: 100%;
          }
          @media screen and (max-width:725px){
            width: auto;
          }
        }

      }
      li.special{
        color: #00cca7;
      }
    }
  }
  .copyRight{
    max-width: 1000px;
    margin:auto;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
    .right{
      p{
        color: #f6f6f6;
        font-family: $mainFont;
        font-size: 16px;
        font-weight: 300;
        span{
          color: #00cca7;
        }
      }
    }
    .privacy{
      margin-top: 1px;
      p{
        color: #f6f6f6;
        font-family: $mainFont;
        font-size: 16px;
        font-weight: 300;
        span{
          margin-right: 37px;
        }
      }
    }
  }
}