/* Contact Us Page */

@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
.mainHeader {
    height: 65px; }
@media screen and (max-width: 991px) {
    .mainHeader {
        height: auto; } }
.mainHeader .bg-light {
    background-color: #5b7eff !important;
    padding: 0 1rem;
    height: 100%; }
@media screen and (max-width: 991px) {
    .mainHeader .bg-light {
        padding: .5rem 1rem; } }
.mainHeader .bg-light .navbar-nav {
    display: flex;
    align-items: center;
    padding-right: 53px; }
@media screen and (max-width: 991px) {
    .mainHeader .bg-light .navbar-nav {
        padding-right: 0; } }
.mainHeader .bg-light .nav-item.transparent {
    border-bottom: 4px solid transparent; }
.mainHeader .bg-light .nav-item.transparent:hover {
    border-bottom: 4px solid #00cca7; }
.mainHeader .bg-light .nav-item {
    margin-left: 30px;
    transition: .5s ease-in-out; }
@media screen and (max-width: 991px) {
    .mainHeader .bg-light .nav-item {
        margin-left: 0;
        margin-bottom: 20px; } }
.mainHeader .bg-light .nav-item .nav-link {
    color: #5b7eff;
    font-family: "Tahoma";
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 19px 1rem; }
.mainHeader .bg-light .nav-item .nav-links {
    background-image: linear-gradient(to right, #ffffff 0%, #5b7eff 100%);
    -webkit-background-clip: text; }
.mainHeader .bg-light .nav-item.button {
    width: 110px;
    height: 30px;
    border-radius: 15px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 57px;
    border: 0; }
@media screen and (max-width: 991px) {
    .mainHeader .bg-light .nav-item.button {
        margin-left: 0; } }
.mainHeader .bg-light .nav-item.button .nav-link {
    padding: 0;
    color: #00cca7; }
.mainHeader .bg-light .nav-item.button .nav-link i {
    margin-right: 5px; }
.mainHeader .bg-light .nav-item.active > .nav-link {
    color: #ffffff;
    border-bottom: 4px solid #00cca7; }

.header {
    height: 480px;
    background-image: linear-gradient(to bottom, #00cca7 0%, #5b7eff 100%);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center; }
.header img {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%; }
.header .content {
    width: 100%;
    position: relative; }
.header .content .headerTitle {
    color: #f6f6f6;
    font-family: "Tahoma";
    font-size: 48px;
    font-weight: 800;
    text-transform: uppercase;
    width: 40%;
    margin: auto;
    text-align: center;
    line-height: 36px; }
@media screen and (max-width: 991px) {
    .header .content .headerTitle {
        width: 100%;
        font-size: 30px; } }
.header .content .headerTitle span {
    font-size: 32px;
    font-weight: 300; }
@media screen and (max-width: 991px) {
    .header .content .headerTitle span {
        width: 100%;
        font-size: 22px; } }

.globalFooter {
    height: 290px;
    background-color: #040d2e; }
@media screen and (max-width: 725px) {
    .globalFooter {
        height: auto; } }
.globalFooter .footer {
    max-width: 1000px;
    margin: auto;
    display: flex;
    padding-top: 59px;
    border-bottom: 1px solid #1e2f6d;
    padding-bottom: 15px;
    flex-wrap: wrap; }
.globalFooter .footer .footer-links {
    width: 20%; }
@media screen and (max-width: 725px) {
    .globalFooter .footer .footer-links {
        width: 100%; } }
.globalFooter .footer .footer-links li.first-link {
    color: #ffffff;
    font-family: "Tahoma";
    font-size: 16px;
    font-weight: 500; }
.globalFooter .footer .footer-links li.second-link {
    margin-top: 24px; }
.globalFooter .footer .footer-links li.link {
    color: #2d3450;
    font-family: "Tahoma";
    font-size: 16px;
    font-weight: 300; }
@media screen and (max-width: 1054px) {
    .globalFooter .footer .footer-links li.link img {
        width: 100%; } }
@media screen and (max-width: 725px) {
    .globalFooter .footer .footer-links li.link img {
        width: auto; } }
.globalFooter .footer .footer-links li.special {
    color: #00cca7; }
.globalFooter .copyRight {
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap; }
.globalFooter .copyRight .right p {
    color: #f6f6f6;
    font-family: "Tahoma";
    font-size: 16px;
    font-weight: 300; }
.globalFooter .copyRight .right p span {
    color: #00cca7; }
.globalFooter .copyRight .privacy {
    margin-top: 1px; }
.globalFooter .copyRight .privacy p {
    color: #f6f6f6;
    font-family: "Tahoma";
    font-size: 16px;
    font-weight: 300; }
.globalFooter .copyRight .privacy p span {
    margin-right: 37px; }

.content .documents .document .customProgress {
    display: flex; }
.content .documents .document .customProgress .prg {
    width: 25%;
    height: 25px;
    position: relative;
    transition: .5s;
    background: #e9eef1; }
.content .documents .document .customProgress .prg img {
    position: absolute;
    right: 6px;
    bottom: -6px;
    cursor: pointer; }
.content .documents .document .customProgress .prg .background {
    position: absolute;
    transition: .5s;
    background: #00cca7;
    height: 100%; }
.content .documents .document .customProgress .prg1 {
    background: #00cca7;
    border-radius: 15px;
    z-index: 99; }
.content .documents .document .customProgress .prg2 {
    margin-left: -8px; }
.content .documents .document .customProgress .prg3, .content .documents .document .customProgress .prg4 {
    margin-left: -1px; }
.content .documents .document .customProgress .prg4 {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px; }
.content .documents .document .numbers {
    padding-top: 23px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
.content .documents .document .numbers .number {
    width: 23%; }
@media screen and (max-width: 991px) {
    .content .documents .document .numbers .number {
        width: auto;
        margin-bottom: 30px; } }
@media screen and (max-width: 500px) {
    .content .documents .document .numbers .number {
        width: 51%; } }
.content .documents .document .numbers .number h2.active span.nub {
    color: #00cca7; }
.content .documents .document .numbers .number h2.active span.step {
    color: #5b7eff; }
.content .documents .document .numbers .number h2.active span.doc {
    color: #5b7eff; }
.content .documents .document .numbers .number h2.active:before {
    content: '';
    position: absolute;
    width: 45px;
    background: #00cca7 !important;
    height: 3px;
    border-radius: 15px;
    bottom: 0;
    left: 5px;
    z-index: 99999 !important; }
.content .documents .document .numbers .number h2 {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer; }
.content .documents .document .numbers .number h2:before {
    content: '';
    position: absolute;
    width: 45px;
    height: 3px;
    border-radius: 15px;
    bottom: 0;
    left: 5px; }
.content .documents .document .numbers .number h2:after {
    content: '';
    position: absolute;
    width: 100%;
    background: #d6dfe4;
    height: 1px;
    border-radius: 15px;
    bottom: 1px;
    left: 5px; }
.content .documents .document .numbers .number h2 span {
    font-family: Montserrat;
    text-transform: uppercase;
    display: inline-block; }
.content .documents .document .numbers .number h2 span.nub {
    font-size: 48px;
    font-weight: 700;
    letter-spacing: -1.54px;
    margin-right: 6px; }
.content .documents .document .numbers .number h2 span.step {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.56px;
    display: block; }
.content .documents .document .numbers .number h2 span.doc {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.96px;
    display: block; }
.content .documents .document .numbers .number.custom h2:before {
    background: #e9eef1; }
.content .documents .document .numbers .number.custom h2 span {
    color: #e9eef1; }
.content .documents .document .numbers .number.custom h2 span.order {
    font-size: 18px; }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; }

.contactUs .content {
    background-color: #f1f7fa;
    height: 883px; }
@media screen and (max-width: 771px) {
    .contactUs .content {
        height: auto;
        padding-bottom: 50px; } }
.contactUs .content .contact {
    position: relative; }
.contactUs .content .contact .googleMap {
    height: 580px; }
.contactUs .content .contact .googleMap iframe {
    width: 100%;
    height: 100%; }
.contactUs .content .contact .contactForm {
    width: 387px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0px 5px 0px #e9eef1;
    border-left: 5px solid #5b7eff;
    position: absolute;
    top: 178px;
    left: 100px;
    padding-top: 30px;
    padding-left: 23px;
    padding-right: 23px;
    padding-bottom: 30px; }
@media screen and (max-width: 771px) {
    .contactUs .content .contact .contactForm {
        position: static;
        width: 90%;
        margin: 0 auto;
        margin-top: 30px; } }
@media screen and (max-width: 446px) {
    .contactUs .content .contact .contactForm {
        width: 100%; } }
.contactUs .content .contact .contactForm h2 {
    font-family: "Tahoma";
    font-size: 48px;
    font-weight: 800;
    color: #5b7eff;
    text-transform: uppercase;
    line-height: 33px;
    text-align: center;
    position: relative;
    margin-bottom: 42px; }
@media screen and (max-width: 446px) {
    .contactUs .content .contact .contactForm h2 {
        font-size: 30px; } }
.contactUs .content .contact .contactForm h2:before {
    content: '';
    position: absolute;
    width: 144px;
    height: 3px;
    background: #5b7eff;
    border-radius: 15px;
    bottom: -16px;
    z-index: 9999;
    left: 50%;
    transform: translate(-50%, 0); }
.contactUs .content .contact .contactForm h2:after {
    content: '';
    position: absolute;
    width: 224px;
    background: #d6dfe4;
    height: 1px;
    border-radius: 15px;
    bottom: -15px;
    left: 50%;
    transform: translate(-50%, 0); }
.contactUs .content .contact .contactForm h2 span {
    font-size: 32px;
    color: #00cca7;
    font-weight: 300; }
.contactUs .content .contact .contactForm p {
    color: #828385;
    font-family: "Tahoma";
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 11px;
    line-height: 26px; }
.contactUs .content .contact .contactForm p span.have {
    color: #4d4d4f;
    display: inline-block; }
.contactUs .content .contact .contactForm p img {
    margin-right: 3px; }
.contactUs .content .contact .contactForm p.bottom {
    position: relative;
    margin-bottom: 0; }
.contactUs .content .contact .contactForm p.bottom:after {
    content: '';
    position: absolute;
    width: 224px;
    background: #d6dfe4;
    height: 1px;
    border-radius: 15px;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%, 0); }
.contactUs .content .contact .contactForm p.line-h {
    line-height: 35px; }
.contactUs .content .contact .contactForm form {
    margin-top: 65px; }
.contactUs .content .contact .contactForm form input, .contactUs .content .contact .contactForm form textarea {
    border: 0;
    outline: none;
    border-radius: 15px;
    background-color: #ecf0f2;
    width: 100%;
    margin-bottom: 10px;
    text-indent: 19px;
    padding-top: 3px;
    padding-bottom: 3px; }
.contactUs .content .contact .contactForm form textarea {
    resize: none;
    height: 90px; }
.contactUs .content .contact .contactForm form button {
    width: 110px;
    height: 30px;
    border-radius: 15px;
    background-color: #5b7eff;
    color: #ffffff;
    font-family: "Tahoma";
    font-size: 15px;
    font-weight: 400;
    border: 0;
    cursor: pointer;
    outline: none; }

/*# sourceMappingURL=contact.css.map */


.woocommerce div.product div.images.woocommerce-product-gallery{
    display: none;
}

/*.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {*/
/*    display: none;*/
/*}*/
/*.woocommerce #content table.cart td.actions, .woocommerce table.cart td.actions, .woocommerce-page #content table.cart td.actions, .woocommerce-page table.cart td.actions{*/
/*display: none;*/
/*}*/


.cart_totals h2{
    display: none;
}
.header .content .headerTitle{
    text-align: center;
    margin: 0 auto;
}

.woocommerce-cart .woocommerce-message{
    display: none;
}
.add-another-doc-cart{
    float: right;
}
#todaycalendarbox{
    font-size: 20px;
}
.grand-total{
    color:#c1a82c;
}

/* .qty{
    width: 70px;
    height: 50px;
    font-size: 25px;
    margin-bottom: 20px;
} */
.single_add_to_cart_button{
    background-color: #5b7eff !important;
}

.buttons-row .previous-2, .previous-1{
    margin-right: 10px !important;
}
.related {
    display: none;
}
#comments, aside{
    display: none;
}
.woocommerce div.product div.summary{
    display: none;
}


.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals{
    margin: 0px auto !important;
    float: none;
}


/*.home .content{*/
/*    background-color: transparent !important;*/
/*}*/

.wizard02 .content .documents .document .letters .letter{
    height: auto !important;
    padding-bottom: 20px;
}
.next-btn{
width: 110px;
height: 30px;
border-radius: 15px;
border: 0;
outline: none;
cursor: pointer;
color: #ffffff;
font-family: "Tahoma";
font-size: 15px;
font-weight: 400;
text-transform: uppercase;
text-transform: uppercase;
background-color: #5b7eff;
}
.wizard02 .content .documents{
    height: auto !important;
}

.document2 .company .service{
    margin-top:80px !important;
}
.woocommerce .cart-collaterals, .woocommerce-page .cart-collaterals{
    display: none;
}
.add-another-doc-cart{
    display: none !important;
}
.entry-title{
    display: none;
}
.wizard-03 .content .documents .document .deleteAll p .country, .wizard-03 .content .documents .document .deleteAll p .count, .wizard-03 .content .documents .document .deleteAll p .edit, .wizard-03 .content .documents .document .deleteAll p .type{
    margin-right: 75px !important;
}
.wizard-03 .content .documents .document .deleteAll2 p .country, .wizard-03 .content .documents .document .deleteAll2 p .count, .wizard-03 .content .documents .document .deleteAll2 p .edit, .wizard-03 .content .documents .document .deleteAll2 p .type{
    margin-right: 105px !important;

}
.wizard-03 .content .documents .document .deleteAll2 p .count{
    margin-right: 121px !important;
}
#customer_details{
    display: flex;
}
.wizard04 .content .documents{
    height: auto !important;
}
#payment{
    border-radius: 5px !important;
    background-color: #ffffff !important;
    box-shadow: 0px 5px 6px #e9eef1 !important;
    border-left: 5px solid #5b7eff !important;
    padding-left: 16px !important;
    padding-top: 19px !important;
    padding-right: 22px !important;
    margin-top: 11px !important;
    padding-bottom: 12px !important;
}
.woocommerce-checkout-review-order-table{
    border-radius: 5px !important;
    background-color: #ffffff !important;
    box-shadow: 0px 5px 6px #e9eef1 !important;
    border-left: 5px solid #5b7eff !important;
    padding-left: 16px !important;
    padding-top: 19px !important;
    padding-right: 22px !important;
    margin-top: 11px !important;
    padding-bottom: 12px !important;
}
.woocommerce-billing-fields input{

    width: 423px !important;
    height: 30px !important;
    border-radius: 15px !important;
    background-color: #ecf0f2 !important;
    border: 0 !important;
    outline: none !important;
    text-indent: 18px !important;
    margin-bottom: 6px !important;
    color: #b0b2b3 !important;
    font-family: "Tahoma" !important;
    font-size: 18px !important;
    font-weight: 300 !important;
}

.woocommerce-billing-fields__field-wrapper{
    display: inline-grid !important;
}
.woocommerce-form-coupon-toggle{
    display: none !important;
}
.letter-sub{
    background-color: #f7f7f7 !important;
}

.woocommerce-message{
    display: none !important;
}
.active-choice{
    border-left: 5px #5b7eff solid !important;
}
.active-choice h3{
    color: #11cfad !important;
}
.letter{
    cursor: pointer;
}
.letter input{
    visibility: hidden;
}
td{
    padding-right: 50px;
}
#billing_country:after{
    color: black !important;
}
.step4{
    width:500px !important;
}

p.return-to-shop {
    font-family: "Tahoma";
    font-size: 28px;
    font-weight: 800;
    text-transform: uppercase;
    margin: auto;
    text-align: center;
    color: #5b7eff !important;
    padding-top: 100px;
    padding-bottom: 80px;
    max-width: 90%;
    line-height: 60px;
}

.header .content{
    padding-bottom: 0;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.pay-for-order{
    padding-top: 150px;
    padding-bottom: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pay-for-order input{
    width: 423px;
    height: 55px;
    border-radius: 35px;
    background-color: #ecf0f2;
    border: 0;
    outline: none;
    text-indent: 25px;
    color: #565a5c;
    font-family: "Tahoma";
    font-size: 18px;
}
.pay-for-order button{
    border: none;
    height: 55px;
    border-radius: 40px;
    width: 110px;
    font-weight: bold;
    background: #5b7eff !important;
    color: #fff;
    cursor: pointer;
}

.pay-for-order-page-wrapper .header{
    height: 180px;
}
.header img{
    object-fit: cover;
}

.wizard-03 select{
    padding: 5px 10px;
}

button#place_order {
    margin-left: auto;
    width: 190px;
    height: 30px;
    border-radius: 15px;
    background-color: #5b7eff;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0px;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 20px;
}

.woocommerce form .form-row select {
    cursor: pointer;
    margin: 0;
    background: #ecf0f2;
    border: none;
    height: 55px;
    border-radius: 50px;
    padding-left: 15px;
}

.woocommerce ul#shipping_method {
    display: flex!important;
    flex-direction: column;
}.woocommerce td[data-title="Shipping"]{
     width: 100%;
}
.woocommerce td[data-title="Shipping"] .shipping-title-big{
    font-size: 19px;
    text-transform: capitalize;
}
.woocommerce ul#shipping_method li{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.woocommerce ul#shipping_method li label{
    font-size: 24px;
    text-transform: uppercase;
    
}
.woocommerce ul#shipping_method li *{
    margin: 0;
}

.mainHeader .bg-light .nav-item .nav-links{
    background: none;
    color: #fff;
}
.wizard-03 .content .type{
    display: none!important;
}
@media (max-width: 768px) {
    .wizard-03 .cart-next-to-checkout {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        border-radius: 50px;
    }
    #customer_details{
        display: block;
    }
    #customer_details .input-text{
        width:250px !important;
    }
    .wizard04 .content .documents .document{
        padding-left: 0px !important;
    }
    .step4{
        width: 100% !important;
    }
    .box6 h2{
        font-size: 47px !important;
    }
    #payment{
        width:253px !important;
    }
    .pay-for-order form{
        width: 100%;
        display: flex;
    }
    .pay-for-order input{
        width: 75%;
    }
    .pay-for-order button{
        width: 25%;
    }
    .pay-for-order{
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .wizard-03 .content .documents .document .deleteAll .table-item-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
        
    }
    .table-item-wrapper :nth-child(odd) {
        text-align: left!important;
    }
    .table-item-wrapper :nth-child(even) {
        text-align: right!important;
    }
    .cart-nav-wrapper{
        display: none;
    }
    span.woocommerce-Price-amount.amount{
        display: flex!important;
        width: auto!important;
    }
    span.woocommerce-Price-currencySymbol{
        display: flex!important;
        width: 13px!important;
    }

}
@media (max-width: 425px) {
    .woocommerce-Price-currencySymbol{
        width: 10px;
    }
    .pay-for-order form{
        flex-direction: column;
    }
    .pay-for-order input{
        width: 100%;
    }
    .pay-for-order button{
        width: 100%;
        margin-top: 15px;
    }
    .pay-for-order{
        padding-top: 70px;
        padding-bottom: 70px;
    }
}

.globalFooter .footer .footer-links li.link{
    color:white !important;
}
.globalFooter .footer .footer-links li.link a{
    text-decoration: none !important;
    color: white !important;
}
.globalFooter .footer .footer-links li.link a:hover{
    color:white !important;
}

.globalFooter .footer .footer-links li.first-link{
    color:#00cca7 !important;
    font-weight:600;
}
.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea{
    height: 55px !important;
    border-radius: 40px !important;
}
.woocommerce form .form-row{
    display: block !important;

}
#billing_country_field{
    display: block !important;
}
.woocommerce form input{
    color:black !important;
}

.cart-next-to-checkout{
    width: 110px;
    padding-top: 4px;
    text-align: center;
    height: 30px;
    border-radius: 15px;
    background-color: #5b7eff;
    border: 0;
    outline: none;
    color: #ffffff;
    font-family: "Tahoma";
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
}
.cart-next-to-checkout:hover{
    text-decoration: none;
    color: white !important;
}
.woocommerce-shipping-totals th{
display: none !important;
}
#shipping_method{
    display: -webkit-box !important;
}
.woocommerce ul#shipping_method li input{
    vertical-align: middle !important;
    margin-left: 4px !important;

}
.page-324 .header{
    display: none;
}

form .wpcf7-submit{
    width: 110px !important;
    height: 30px !important;
    border-radius: 15px !important;
    background-color: #5b7eff !important;
    color: #ffffff !important;
    font-family: "Tahoma" !important;
    font-size: 15px !important;
    font-weight: 400 !important;
    border: 0 !important;
    cursor: pointer !important;
    outline: none !important;
}
.cart-page .header, .checkout-page .header{
    height: 220px !important;
    object-fit: cover !important;
}
.post-edit-link, .post-navigation{
    display: none;
}


@media(min-width: 768px) and (max-width: 991px) {
    .wizard-03 .content .documents .document .deleteAll p span {
        display: inline!important;
    }
}
@media(min-width: 768px) {
    .d-md-none{
        display: none!important;
    }
}

@media (max-width: 768px) {
    #customer_details{
        width: 100% !important;
    }
    #customer_details .input-text {
        width: 100% !important;
    }
    .numbers .number{
        width: 100% !important;
    }
    .checkout-page{
        overflow-x: hidden;
    }
    #payment{
        width: 100%!important;
    }
    .col-6{
        max-width:100% !important;
    }
.woocommerce-billing-fields__field-wrapper{
    width: 100% !important;
}
.woocommerce-billing-fields__field-wrapper .form-row{
    width: 100% !important;
}
    #customer_details {
        display: flex;
        flex-direction: column-reverse;
    }
}
.woocommerce-order .woocommerce-column--billing-address{
    float: left !important;
}
.woocommerce-order .woocommerce-column--shipping-address{
    float: right !important;
}
.checkout-page .wizard-03 .content .documents{
    border-left: 5px solid #5b7eff !important;
}
.woocommerce .woocommerce-notices-wrapper{
    display: none !important;
}
.woocommerce-thankyou-order-received{
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 50px;
    color: #00cca7 !important;
}