.content{
  .documents{
    .document{
      .customProgress{
        display: flex;
        .prg{
          width: 25%;
          height: 25px;
          position: relative;
          transition:.5s;
          background: #e9eef1;
          img{
            position: absolute;
            right: 6px;
            bottom: -6px;
            cursor: pointer;
          }
          .background{
            position: absolute;
            transition:.5s;
            background: #00cca7;
            height: 100%;
          }
        }
        .prg1{
          background: #00cca7;
          border-radius:15px;
          z-index: 99;
        }
        .prg2{
          margin-left: -8px;
        }
        .prg3,.prg4{
          margin-left: -1px;
        }
        .prg4{
          border-top-right-radius:15px;
          border-bottom-right-radius:15px;
        }
      }
      .numbers{
        padding-top: 23px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .number{
          width: 23%;
          @media screen and (max-width:991px){
            width: auto;
            margin-bottom: 30px;
          }
          @media screen and (max-width:500px){
            width: 51%;
          }
          h2.active{
            span.nub{
              color: #00cca7;
            }
            span.step{
              color: #5b7eff;
            }
            span.doc{
              color: #5b7eff;
            }
            &:before{
              content: '';
              position: absolute;
              width: 45px;
              background: #00cca7 !important;
              height: 3px;
              border-radius:15px;
              bottom: 0;
              left: 5px;
              z-index: 99999 !important;
            }
          }
          h2{
            display: flex;
            align-items: center;
            position: relative;
            cursor: pointer;
            &:before{
              content: '';
              position: absolute;
              width: 45px;
              height: 3px;
              border-radius:15px;
              bottom: 0;
              left: 5px;
            }
            &:after{
              content: '';
              position: absolute;
              width: 100%;
              background: #d6dfe4;
              height: 1px;
              border-radius:15px;
              bottom: 1px;
              left: 5px;
            }
            span{
              font-family: Montserrat;
              text-transform: uppercase;
              display: inline-block;
            }
            span.nub{
              font-size: 48px;
              font-weight: 700;
              letter-spacing: -1.54px;
              margin-right: 6px;
            }
            span.step{
              font-size: 14px;
              font-weight: 500;
              letter-spacing: -0.56px;
              display: block;
            }
            span.doc{
              font-size: 24px;
              font-weight: 700;
              letter-spacing: -0.96px;
              display: block;
            }
          }
        }
        .number.custom{
          h2{
            &:before{
              background:#e9eef1;
            }
            span{
              color:#e9eef1;
            }
            span.order{
              font-size: 18px;
            }

          }
        }
      }
    }
  }
}