$mainFont: "Tahoma";
$mainFontWeight: 400;
$transform: uppercase;
@mixin font {
  font-family: $mainFont;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
}
.mainHeader{
  height: 65px;
  @media screen and (max-width:991px){
    height: auto;
  }
  .bg-light{
    background-color: #5b7eff !important;
    padding: 0 1rem;
    height: 100%;
    @media screen and (max-width:991px){
      padding: .5rem 1rem;
    }
    .navbar-nav{
      display: flex;
      align-items: center;
      padding-right: 53px;
      @media screen and (max-width:991px){
        padding-right: 0;
      }
    }
    .nav-item.transparent{
      border-bottom: 4px solid transparent;
      &:hover{
        border-bottom: 4px solid #00cca7;
      }
    }
    .nav-item{
      margin-left: 30px;
      transition:.5s ease-in-out;
      @media screen and (max-width:991px){
        margin-left: 0;
        margin-bottom: 20px;
      }
      .nav-link{
        color: #5b7eff;
        @include font;
        padding: 19px 1rem;
      }
      .nav-links{
        background-image: linear-gradient(to right, #ffffff 0%, #5b7eff 100%);
        -webkit-background-clip: text;
      }
    }
    .nav-item.button{
      width: 110px;
      height: 30px;
      border-radius: 15px;
      background-color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 57px;
      border: 0;
      @media screen and (max-width:991px){
        margin-left: 0;
      }
      .nav-link{
        padding: 0;
        color: #00cca7;
        i{
          margin-right: 5px;
        }
      }
    }
    .nav-item.active > .nav-link{
      color: #ffffff;
      border-bottom: 4px solid #00cca7;
    }
  }
}
.header{
  height: 480px;
  background-image: linear-gradient(to bottom, #00cca7 0%, #5b7eff 100%);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  img{
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
  }
  .content{
    width: 100%;
    position: relative;
    .headerTitle{
      color: #f6f6f6;
      font-family: $mainFont;
      font-size: 48px;
      font-weight: 800;
      text-transform: $transform;
      width: 40%;
      margin: auto;
      text-align: center;
      line-height: 36px;
      @media screen and (max-width:991px){
        width: 100%;
        font-size: 30px;
      }
      span{
        font-size: 32px;
        font-weight: 300;
        @media screen and (max-width:991px){
          width: 100%;
          font-size: 22px;
        }
      }

    }
  }
}