@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
.mainHeader {
  height: 65px; }
  @media screen and (max-width: 991px) {
    .mainHeader {
      height: auto; } }
  .mainHeader .bg-light {
    background-color: #5b7eff !important;
    padding: 0 1rem;
    height: 100%; }
    @media screen and (max-width: 991px) {
      .mainHeader .bg-light {
        padding: .5rem 1rem; } }
    .mainHeader .bg-light .navbar-nav {
      display: flex;
      align-items: center;
      padding-right: 53px; }
      @media screen and (max-width: 991px) {
        .mainHeader .bg-light .navbar-nav {
          padding-right: 0; } }
    .mainHeader .bg-light .nav-item.transparent {
      border-bottom: 4px solid transparent; }
      .mainHeader .bg-light .nav-item.transparent:hover {
        border-bottom: 4px solid #00cca7; }
    .mainHeader .bg-light .nav-item {
      margin-left: 30px;
      transition: .5s ease-in-out; }
      @media screen and (max-width: 991px) {
        .mainHeader .bg-light .nav-item {
          margin-left: 0;
          margin-bottom: 20px; } }
      .mainHeader .bg-light .nav-item .nav-link {
        color: #5b7eff;
        font-family: "Tahoma";
        font-size: 15px;
        font-weight: 400;
        text-transform: uppercase;
        padding: 19px 1rem; }
      .mainHeader .bg-light .nav-item .nav-links {
        background-image: linear-gradient(to right, #ffffff 0%, #5b7eff 100%);
        -webkit-background-clip: text; }
    .mainHeader .bg-light .nav-item.button {
      width: 110px;
      height: 30px;
      border-radius: 15px;
      background-color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 57px;
      border: 0; }
      @media screen and (max-width: 991px) {
        .mainHeader .bg-light .nav-item.button {
          margin-left: 0; } }
      .mainHeader .bg-light .nav-item.button .nav-link {
        padding: 0;
        color: #00cca7; }
        .mainHeader .bg-light .nav-item.button .nav-link i {
          margin-right: 5px; }
    .mainHeader .bg-light .nav-item.active > .nav-link {
      color: #ffffff;
      border-bottom: 4px solid #00cca7; }

.header {
  height: 480px;
  background-image: linear-gradient(to bottom, #00cca7 0%, #5b7eff 100%);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; }
  .header img {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%; }
  .header .content {
    width: 100%;
    position: relative; }
    .header .content .headerTitle {
      color: #f6f6f6;
      font-family: "Tahoma";
      font-size: 48px;
      font-weight: 800;
      text-transform: uppercase;
      width: 40%;
      margin: auto;
      text-align: center;
      line-height: 36px; }
      @media screen and (max-width: 991px) {
        .header .content .headerTitle {
          width: 100%;
          font-size: 30px; } }
      .header .content .headerTitle span {
        font-size: 32px;
        font-weight: 300; }
        @media screen and (max-width: 991px) {
          .header .content .headerTitle span {
            width: 100%;
            font-size: 22px; } }

.globalFooter {
  height: 290px;
  background-color: #040d2e; }
  @media screen and (max-width: 725px) {
    .globalFooter {
      height: auto; } }
  .globalFooter .footer {
    max-width: 1000px;
    margin: auto;
    display: flex;
    padding-top: 59px;
    border-bottom: 1px solid #1e2f6d;
    padding-bottom: 15px;
    flex-wrap: wrap; }
    .globalFooter .footer .footer-links {
      width: 20%; }
      @media screen and (max-width: 725px) {
        .globalFooter .footer .footer-links {
          width: 100%; } }
      .globalFooter .footer .footer-links li.first-link {
        color: #ffffff;
        font-family: "Tahoma";
        font-size: 16px;
        font-weight: 500; }
      .globalFooter .footer .footer-links li.second-link {
        margin-top: 24px; }
      .globalFooter .footer .footer-links li.link {
        color: #2d3450;
        font-family: "Tahoma";
        font-size: 16px;
        font-weight: 300; }
        @media screen and (max-width: 1054px) {
          .globalFooter .footer .footer-links li.link img {
            width: 100%; } }
        @media screen and (max-width: 725px) {
          .globalFooter .footer .footer-links li.link img {
            width: auto; } }
      .globalFooter .footer .footer-links li.special {
        color: #00cca7; }
  .globalFooter .copyRight {
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap; }
    .globalFooter .copyRight .right p {
      color: #f6f6f6;
      font-family: "Tahoma";
      font-size: 16px;
      font-weight: 300; }
      .globalFooter .copyRight .right p span {
        color: #00cca7; }
    .globalFooter .copyRight .privacy {
      margin-top: 1px; }
      .globalFooter .copyRight .privacy p {
        color: #f6f6f6;
        font-family: "Tahoma";
        font-size: 16px;
        font-weight: 300; }
        .globalFooter .copyRight .privacy p span {
          margin-right: 37px; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.header {
  height: 360px;
  align-items: flex-end; }
  .header .content {
    max-width: 1000px;
    margin: auto;
    padding-bottom: 60px; }
    .header .content .headerTitle {
      width: 50%;
      text-align: left;
      margin: 0; }

.wizard02 .content {
  padding-top: 66px;
  padding-bottom: 50px;
  background-color: #f1f7fa; }
  .wizard02 .content .documents {
    max-width: 995px;
    height: 523px;
    border-radius: 5px;
    background: #FFF;
    margin: auto; }
    @media screen and (max-width: 991px) {
      .wizard02 .content .documents {
        height: auto;
        padding-bottom: 40px; } }
    .wizard02 .content .documents .document {
      max-width: 887px;
      margin: auto;
      padding-top: 30px; }
      @media screen and (max-width: 991px) {
        .wizard02 .content .documents .document {
          padding-right: 30px;
          padding-left: 30px; } }
      .wizard02 .content .documents .document .customProgress {
        display: flex; }
        .wizard02 .content .documents .document .customProgress .prg {
          width: 25%;
          height: 25px;
          position: relative;
          transition: .5s;
          background: #e9eef1; }
          .wizard02 .content .documents .document .customProgress .prg img {
            position: absolute;
            right: 6px;
            bottom: -6px;
            cursor: pointer; }
          .wizard02 .content .documents .document .customProgress .prg .background {
            position: absolute;
            transition: .5s;
            background: #00cca7;
            height: 100%; }
        .wizard02 .content .documents .document .customProgress .prg1 {
          background: #00cca7;
          border-radius: 15px;
          z-index: 99; }
        .wizard02 .content .documents .document .customProgress .prg2 {
          margin-left: -8px; }
        .wizard02 .content .documents .document .customProgress .prg3, .wizard02 .content .documents .document .customProgress .prg4 {
          margin-left: -1px; }
        .wizard02 .content .documents .document .customProgress .prg4 {
          border-top-right-radius: 15px;
          border-bottom-right-radius: 15px; }
      .wizard02 .content .documents .document .numbers {
        padding-top: 23px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap; }
        .wizard02 .content .documents .document .numbers .number {
          width: 23%; }
          @media screen and (max-width: 991px) {
            .wizard02 .content .documents .document .numbers .number {
              width: auto;
              margin-bottom: 30px; } }
          @media screen and (max-width: 500px) {
            .wizard02 .content .documents .document .numbers .number {
              width: 51%; } }
          .wizard02 .content .documents .document .numbers .number h2.active span.nub {
            color: #00cca7; }
          .wizard02 .content .documents .document .numbers .number h2.active span.step {
            color: #5b7eff; }
          .wizard02 .content .documents .document .numbers .number h2.active span.doc {
            color: #5b7eff; }
          .wizard02 .content .documents .document .numbers .number h2.active:before {
            content: '';
            position: absolute;
            width: 45px;
            background: #00cca7 !important;
            height: 3px;
            border-radius: 15px;
            bottom: 0;
            left: 5px; }
          .wizard02 .content .documents .document .numbers .number h2 {
            display: flex;
            align-items: center;
            position: relative;
            cursor: pointer; }
            .wizard02 .content .documents .document .numbers .number h2:before {
              content: '';
              position: absolute;
              width: 45px;
              height: 3px;
              border-radius: 15px;
              bottom: 0;
              left: 5px; }
            .wizard02 .content .documents .document .numbers .number h2:after {
              content: '';
              position: absolute;
              width: 100%;
              background: #d6dfe4;
              height: 1px;
              border-radius: 15px;
              bottom: 1px;
              left: 5px; }
            .wizard02 .content .documents .document .numbers .number h2 span {
              font-family: Montserrat;
              text-transform: uppercase;
              display: inline-block; }
            .wizard02 .content .documents .document .numbers .number h2 span.nub {
              font-size: 48px;
              font-weight: 700;
              letter-spacing: -1.54px;
              margin-right: 6px; }
            .wizard02 .content .documents .document .numbers .number h2 span.step {
              font-size: 14px;
              font-weight: 500;
              letter-spacing: -0.56px;
              display: block; }
            .wizard02 .content .documents .document .numbers .number h2 span.doc {
              font-size: 24px;
              font-weight: 700;
              letter-spacing: -0.96px;
              display: block; }
        .wizard02 .content .documents .document .numbers .number.custom h2:before {
          background: #e9eef1; }
        .wizard02 .content .documents .document .numbers .number.custom h2 span {
          color: #e9eef1; }
        .wizard02 .content .documents .document .numbers .number.custom h2 span.order {
          font-size: 18px; }
      .wizard02 .content .documents .document .chose {
        margin-top: 61px; }
        @media screen and (max-width: 991px) {
          .wizard02 .content .documents .document .chose {
            margin-top: 0; } }
        .wizard02 .content .documents .document .chose .please {
          color: #5b7eff;
          font-family: "Tahoma";
          font-size: 48px;
          text-transform: uppercase;
          font-weight: 800;
          width: 48%;
          line-height: 36px;
          position: relative; }
          @media screen and (max-width: 991px) {
            .wizard02 .content .documents .document .chose .please {
              width: 100%;
              font-size: 32px; } }
          .wizard02 .content .documents .document .chose .please:before {
            content: '';
            position: absolute;
            width: 144px;
            height: 3px;
            background: #5b7eff;
            border-radius: 15px;
            bottom: -16px;
            left: 0; }
          .wizard02 .content .documents .document .chose .please:after {
            content: '';
            position: absolute;
            width: 224px;
            background: #d6dfe4;
            height: 1px;
            border-radius: 15px;
            bottom: -15px;
            left: 0; }
          .wizard02 .content .documents .document .chose .please .ab {
            color: #00cca7;
            font-size: 32px;
            font-weight: 300;
            line-height: 30px; }
            .wizard02 .content .documents .document .chose .please .ab span.or {
              text-transform: lowercase; }
      .wizard02 .content .documents .document .letters {
        padding-top: 34px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap; }
        @media screen and (max-width: 991px) {
          .wizard02 .content .documents .document .letters {
            justify-content: center; } }
        .wizard02 .content .documents .document .letters .letter {
          width: 285px;
          height: 160px;
          background-color: #ffffff;
          text-align: center;
          box-shadow: -5px 5px 6px #e9eef1;
          border-radius: 5px; }
          @media screen and (max-width: 991px) {
            .wizard02 .content .documents .document .letters .letter {
              width: 55%;
              margin-bottom: 30px; } }
          @media screen and (max-width: 771px) {
            .wizard02 .content .documents .document .letters .letter {
              width: 100%; } }
          .wizard02 .content .documents .document .letters .letter h3 {
            font-family: "Tahoma";
            color: #e9eef1;
            font-size: 32px;
            font-weight: 400;
            text-transform: uppercase;
            padding-top: 20px;
            margin-bottom: 0; }
          .wizard02 .content .documents .document .letters .letter p {
            color: #828385;
            font-family: "Tahoma";
            font-size: 16px;
            font-weight: 400;
            margin: auto;
            width: 89%; }
  .wizard02 .content .document2 {
    max-width: 995px;
    border-radius: 5px;
    background: #FFF;
    margin: auto;
    margin-top: 11px;
    padding-bottom: 40px;
    border-left: 5px solid #5b7eff;
    border-radius: 5px; }
    .wizard02 .content .document2 .company {
      padding-top: 20px;
      padding-left: 20px; }
      .wizard02 .content .document2 .company .mainTitle {
        color: #828385;
        font-family: "Tahoma";
        font-size: 18px;
        font-weight: 400;
        display: flex;
        align-items: center; }
        .wizard02 .content .document2 .company .mainTitle span {
          color: #00cca7;
          font-size: 32px;
          font-weight: 400;
          text-transform: uppercase;
          margin-right: 15px; }
      .wizard02 .content .document2 .company .selections {
        max-width: 917px;
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
        flex-wrap: wrap; }
        .wizard02 .content .document2 .company .selections div p {
          margin-bottom: 0;
          color: #4d4d4f;
          font-family: "Tahoma";
          font-size: 18px;
          font-weight: 400;
          line-height: 29px; }
        .wizard02 .content .document2 .company .selections div p.relative {
          position: relative;
          line-height: 34px; }
          .wizard02 .content .document2 .company .selections div p.relative .minus {
            height: 2px;
            width: 12px;
            background: #00cca7;
            display: inline-block;
            border-radius: 20px;
            margin-right: 10px;
            margin-bottom: 6px; }
          .wizard02 .content .document2 .company .selections div p.relative .left {
            display: inline-block;
            margin-left: 22px; }
      .wizard02 .content .document2 .company .title {
        color: #00cca7;
        font-family: "Tahoma";
        font-size: 32px;
        font-weight: 400;
        margin-top: 13px; }
        @media screen and (max-width: 771px) {
          .wizard02 .content .document2 .company .title {
            font-size: 25px; } }
      .wizard02 .content .document2 .company .icon {
        position: relative; }
        .wizard02 .content .document2 .company .icon:before {
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          content: "\f107";
          position: absolute;
          right: 21px;
          top: 10px;
          z-index: 999;
          color: #00cca7;
          pointer-events: none;
          cursor: pointer; }
      .wizard02 .content .document2 .company select {
        width: 150px;
        height: 40px;
        border-radius: 20px;
        background-color: #ecf0f2;
        color: #b0b2b3;
        border: 0;
        font-family: "Tahoma";
        font-size: 24px;
        font-weight: 300;
        outline: none;
        text-indent: 25px;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        position: relative; }
      .wizard02 .content .document2 .company .service .freeForU {
        padding-left: 98px;
        margin-top: 16px; }
        @media screen and (max-width: 488px) {
          .wizard02 .content .document2 .company .service .freeForU {
            padding-left: 0; } }
        .wizard02 .content .document2 .company .service .freeForU div {
          position: relative;
          margin-bottom: 11px; }
          .wizard02 .content .document2 .company .service .freeForU div:before {
            content: '';
            position: absolute;
            height: 57px;
            width: 2px;
            background: #00cca7;
            top: 15px;
            left: 0; }
          .wizard02 .content .document2 .company .service .freeForU div:after {
            content: '';
            position: absolute;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            border: 3px solid #00cca7;
            top: 6px;
            left: -5px; }
          .wizard02 .content .document2 .company .service .freeForU div p {
            color: #4d4d4f;
            font-family: "Tahoma";
            font-size: 18px;
            margin-bottom: 0;
            font-weight: 400;
            padding-left: 16px; }
            @media screen and (max-width: 388px) {
              .wizard02 .content .document2 .company .service .freeForU div p {
                font-size: 16px; } }
          .wizard02 .content .document2 .company .service .freeForU div h3 {
            font-family: "Tahoma";
            font-weight: 400;
            color: #828385;
            font-size: 24px;
            padding-left: 16px; }
            .wizard02 .content .document2 .company .service .freeForU div h3 span {
              color: #00cca7; }
        .wizard02 .content .document2 .company .service .freeForU hr {
          width: 386px;
          margin-left: 16px;
          position: relative; }
          @media screen and (max-width: 788px) {
            .wizard02 .content .document2 .company .service .freeForU hr {
              width: 60%; } }
        .wizard02 .content .document2 .company .service .freeForU .totalPrice:before {
          content: '';
          position: absolute;
          height: 91px;
          width: 2px;
          background: #5b7eff;
          top: -71px;
          left: 0; }
        .wizard02 .content .document2 .company .service .freeForU .totalPrice:after {
          content: '';
          position: absolute;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          border: 3px solid #5b7eff;
          top: 17px;
          left: -5px; }
        .wizard02 .content .document2 .company .service .freeForU .totalPrice .total {
          color: #4d4d4f;
          font-family: "Tahoma";
          font-size: 18px;
          font-weight: 400; }
        .wizard02 .content .document2 .company .service .freeForU .totalPrice .price {
          color: #5b7eff;
          font-family: "Tahoma";
          font-size: 32px;
          font-weight: 600; }
      .wizard02 .content .document2 .company .nextPrev {
        display: flex;
        justify-content: space-between;
        max-width: 93%;
        margin: auto;
        margin-top: 39px; }
        .wizard02 .content .document2 .company .nextPrev button {
          width: 110px;
          height: 30px;
          border-radius: 15px;
          border: 0;
          outline: none;
          cursor: pointer;
          color: #ffffff;
          font-family: "Tahoma";
          font-size: 15px;
          font-weight: 400;
          text-transform: uppercase;
          text-transform: uppercase; }
        .wizard02 .content .document2 .company .nextPrev .next {
          background-color: #5b7eff; }
        .wizard02 .content .document2 .company .nextPrev .prev {
          background-color: #e9eef1; }

/*# sourceMappingURL=02-wizard-1.css.map */
