@import "../components/global-header";
@import "../components/global-footer";
@import "../font";
$mainFont: "Tahoma";
$mainFontWeight: 400;
$transform: uppercase;
@mixin font {
  font-family: $mainFont;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header{
  height: 360px;
  align-items: flex-end;
  .content{
    max-width: 1000px;
    margin: auto;
    padding-bottom: 60px;
    .headerTitle{
      width: 50%;
      text-align: left;
      margin: 0;
    }
  }
}

.wizard02{
  .content{
    padding-top: 66px;
    padding-bottom: 50px;
    background-color: #f1f7fa;
    .documents{
      max-width:995px;
      height: 523px;
      border-radius:5px;
      background: #FFF;
      margin: auto;
      @media screen and (max-width:991px){
        height: auto;
        padding-bottom: 40px;
      }
      .document{
        max-width: 887px;
        margin: auto;
        padding-top: 30px;
        @media screen and (max-width:991px){
          padding-right: 30px;
          padding-left: 30px;
        }
        .customProgress{
          display: flex;
          .prg{
            width: 25%;
            height: 25px;
            position: relative;
            transition:.5s;
            background: #e9eef1;
            img{
              position: absolute;
              right: 6px;
              bottom: -6px;
              cursor: pointer;
            }
            .background{
              position: absolute;
              transition:.5s;
              background: #00cca7;
              height: 100%;
            }
          }
          .prg1{
            background: #00cca7;
            border-radius:15px;
            z-index: 99;
          }
          .prg2{
            margin-left: -8px;
          }
          .prg3,.prg4{
            margin-left: -1px;
          }
          .prg4{
            border-top-right-radius:15px;
            border-bottom-right-radius:15px;
          }
        }
        .numbers{
          padding-top: 23px;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          .number{
            width: 23%;
            @media screen and (max-width:991px){
              width: auto;
              margin-bottom: 30px;
            }
            @media screen and (max-width:500px){
              width: 51%;
            }
            h2.active{
              span.nub{
                color: #00cca7;
              }
              span.step{
                color: #5b7eff;
              }
              span.doc{
                color: #5b7eff;
              }
              &:before{
                content: '';
                position: absolute;
                width: 45px;
                background: #00cca7 !important;
                height: 3px;
                border-radius:15px;
                bottom: 0;
                left: 5px;
              }
            }
            h2{
              display: flex;
              align-items: center;
              position: relative;
              cursor: pointer;
              &:before{
                content: '';
                position: absolute;
                width: 45px;
                height: 3px;
                border-radius:15px;
                bottom: 0;
                left: 5px;
              }
              &:after{
                content: '';
                position: absolute;
                width: 100%;
                background: #d6dfe4;
                height: 1px;
                border-radius:15px;
                bottom: 1px;
                left: 5px;
              }
              span{
                font-family: Montserrat;
                text-transform: uppercase;
                display: inline-block;
              }
              span.nub{
                font-size: 48px;
                font-weight: 700;
                letter-spacing: -1.54px;
                margin-right: 6px;
              }
              span.step{
                font-size: 14px;
                font-weight: 500;
                letter-spacing: -0.56px;
                display: block;
              }
              span.doc{
                font-size: 24px;
                font-weight: 700;
                letter-spacing: -0.96px;
                display: block;
              }
            }
          }
          .number.custom{
            h2{
              &:before{
                background:#e9eef1;
              }
              span{
                color:#e9eef1;
              }
              span.order{
                font-size: 18px;
              }

            }
          }
        }
        .chose{
          margin-top: 61px;
          @media screen and (max-width:991px){
            margin-top: 0;
          }
          .please{
            color: #5b7eff;
            font-family: $mainFont;
            font-size: 48px;
            text-transform: uppercase;
            font-weight: 800;
            width: 48%;
            line-height: 36px;
            position: relative;
            @media screen and (max-width:991px){
              width: 100%;
              font-size:32px;
            }
            &:before{
              content: '';
              position: absolute;
              width: 144px;
              height: 3px;
              background: #5b7eff;
              border-radius:15px;
              bottom: -16px;
              left: 0;
            }
            &:after{
              content: '';
              position: absolute;
              width: 224px;
              background: #d6dfe4;
              height: 1px;
              border-radius:15px;
              bottom: -15px;
              left: 0;
            }
            .ab{
              color: #00cca7;
              font-size: 32px;
              font-weight: 300;
              line-height: 30px;
              span.or{
                text-transform: lowercase;
              }
            }

          }
        }
        .letters{
          padding-top: 34px;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          @media screen and (max-width:991px){
            justify-content: center;
          }
          .letter{
            width: 285px;
            height: 160px;
            background-color: #ffffff;
            text-align: center;
            box-shadow: -5px 5px 6px #e9eef1;
            border-radius: 5px;
            @media screen and (max-width:991px){
              width: 55%;
              margin-bottom: 30px;
            }
            @media screen and (max-width:771px){
              width: 100%;
            }
            h3{
              font-family: $mainFont;
              color: #e9eef1;
              font-size: 32px;
              font-weight: $mainFontWeight;
              text-transform: uppercase;
              padding-top: 20px;
              margin-bottom: 0;
            }
            p{
              color: #828385;
              font-family: $mainFont;
              font-size: 16px;
              font-weight: $mainFontWeight;
              margin: auto;
              width: 89%;
            }
          }
        }
      }
    }
    .document2{
      max-width:995px;
      border-radius:5px;
      background: #FFF;
      margin: auto;
      margin-top: 11px;
      padding-bottom: 40px;
      border-left: 5px solid #5b7eff;
      border-radius: 5px;
      .company{
        padding-top: 20px;
        padding-left: 20px;
        .mainTitle{
          color: #828385;
          font-family: $mainFont;
          font-size: 18px;
          font-weight: $mainFontWeight;
          display: flex;
          align-items: center;
          span{
            color: #00cca7;
            font-size: 32px;
            font-weight: 400;
            text-transform: uppercase;
            margin-right: 15px;
          }
        }
        .selections{
          max-width: 917px;
          display: flex;
          justify-content: space-between;
          margin-top: 15px;
          flex-wrap: wrap;
          div{
            p{
              margin-bottom: 0;
              color: #4d4d4f;
              font-family: $mainFont;
              font-size: 18px;
              font-weight: $mainFontWeight;
              line-height: 29px;
            }
            p.relative{
              position: relative;
              line-height: 34px;
              .minus{
                height: 2px;
                width: 12px;
                background: #00cca7;
                display: inline-block;
                border-radius: 20px;
                margin-right: 10px;
                margin-bottom: 6px;
              }
              .left{
                display: inline-block;
                margin-left: 22px;
              }
            }
          }
        }
        .title{
          color: #00cca7;
          font-family: $mainFont;
          font-size: 32px;
          font-weight: 400;
          margin-top: 13px;
          @media screen and (max-width:771px){
            font-size: 25px;
          }
        }
        .icon{
          position: relative;
          &:before{
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f107";
            position: absolute;
            right: 21px;
            top: 10px;
            z-index: 999;
            color:#00cca7;
            pointer-events: none;
            cursor: pointer;
          }
        }
        select{
          width: 150px;
          height: 40px;
          border-radius: 20px;
          background-color: #ecf0f2;
          color: #b0b2b3;
          border: 0;
          font-family: $mainFont;
          font-size: 24px;
          font-weight: 300;
          outline: none;
          text-indent: 25px;
          appearance:none;
          -webkit-appearance:none;
          -moz-appearance:none;
          -ms-appearance:none;
          position: relative;

        }
        .service{
          .freeForU{
            padding-left: 98px;
            margin-top: 16px;
            @media screen and (max-width:488px){
              padding-left: 0;
            }
            div{
              position: relative;
              margin-bottom: 11px;
              &:before{
                content: '';
                position: absolute;
                height: 57px;
                width: 2px;
                background: #00cca7;
                top: 15px;
                left: 0;
              }
              &:after{
                content: '';
                position: absolute;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                border: 3px solid #00cca7;
                top: 6px;
                left: -5px;
              }
              p{
                color: #4d4d4f;
                font-family: $mainFont;
                font-size: 18px;
                margin-bottom: 0;
                font-weight: $mainFontWeight;
                padding-left: 16px;
                @media screen and (max-width:388px){
                  font-size: 16px;
                }
              }
              h3{
                font-family: $mainFont;
                font-weight: $mainFontWeight;
                color: #828385;
                font-size: 24px;
                padding-left: 16px;
                span{
                  color: #00cca7;
                }
              }
            }
            hr{
              width: 386px;
              margin-left: 16px;
              position: relative;
              @media screen and (max-width:788px){
                width: 60%;
              }
            }
            .totalPrice{
              &:before{
                content: '';
                position: absolute;
                height: 91px;
                width: 2px;
                background: #5b7eff;
                top: -71px;
                left: 0;
              }
              &:after{
                content: '';
                position: absolute;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                border: 3px solid #5b7eff;
                top: 17px;
                left: -5px;
              }
              .total{
                color: #4d4d4f;
                font-family: $mainFont;
                font-size: 18px;
                font-weight: 400;
              }
              .price{
                color: #5b7eff;
                font-family: $mainFont;
                font-size: 32px;
                font-weight: 600;
              }
            }

          }
        }
        .nextPrev{
          display: flex;
          justify-content: space-between;
          max-width: 93%;
          margin: auto;
          margin-top: 39px;
          button{
            width: 110px;
            height: 30px;
            border-radius: 15px;
            border: 0;
            outline: none;
            cursor: pointer;
            color: #ffffff;
            @include font;
            text-transform: uppercase;
          }
          .next{
            background-color: #5b7eff;
          }
          .prev{
            background-color: #e9eef1;
          }
        }
      }
    }
  }
}