@import "../components/global-header";
@import "../components/global-footer";
@import "../components/components";
@import "../font";

$mainFont: "Tahoma";
$mainFontWeight: 400;
$transform: uppercase;
@mixin font {
  font-family: $mainFont;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  height: 360px;
  align-items: flex-end;
  .content {
    max-width: 1000px;
    margin: auto;
    padding-bottom: 60px;
    .headerTitle {
      width: 50%;
      text-align: left;
      margin: 0;
    }
  }
}

.wizard04 {
  .content {
    padding-top: 66px;
    padding-bottom: 50px;
    background-color: #f1f7fa;
    .documents {
      max-width: 995px;
      height: 1068px;
      border-radius: 5px;
      background: #FFF;
      margin: auto;
      @media screen and (max-width: 991px) {
        height: auto;
        padding-bottom: 40px;
      }
      .document {
        max-width: 887px;
        margin: auto;
        padding-top: 30px;
        @media screen and (max-width: 991px) {
          padding-right: 30px;
          padding-left: 30px;
        }
        .customProgress {
          display: flex;
          .prg {
            width: 25%;
            height: 25px;
            position: relative;
            transition: .5s;
            background: #e9eef1;
            img {
              position: absolute;
              right: 6px;
              bottom: -6px;
              cursor: pointer;
              z-index: 9999;
            }
            .background {
              position: absolute;
              transition: .5s;
              background: #00cca7;
              height: 100%;
              width: 100%;
            }
          }
          .prg1 {
            background: #00cca7;
            border-radius: 15px;
            z-index: 99;
          }
          .prg2 {
            margin-left: -8px;
          }
          .prg3, .prg4 {
            margin-left: -1px;
          }
          .prg4 {
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            .background {
              border-top-right-radius: 15px;
              border-bottom-right-radius: 15px;
            }
          }
        }
        .numbers {
          padding-top: 23px;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          .number {
            width: 23%;
            @media screen and (max-width: 991px) {
              width: auto;
              margin-bottom: 30px;
            }
            h2.active {
              span.nub {
                color: #00cca7;
              }
              span.step {
                color: #5b7eff;
              }
              span.doc {
                color: #5b7eff;
              }
              &:before {
                content: '';
                position: absolute;
                width: 45px;
                background: #00cca7 !important;
                height: 3px;
                border-radius: 15px;
                bottom: 0;
                left: 5px;
                z-index: 9999;
              }
            }
            h2 {
              display: flex;
              align-items: center;
              position: relative;
              cursor: pointer;
              &:before {
                content: '';
                position: absolute;
                width: 45px;
                height: 3px;
                border-radius: 15px;
                bottom: 0;
                left: 5px;
              }
              &:after {
                content: '';
                position: absolute;
                width: 100%;
                background: #d6dfe4;
                height: 1px;
                border-radius: 15px;
                bottom: 1px;
                left: 5px;
              }
              span {
                font-family: Montserrat;
                text-transform: uppercase;
                display: inline-block;
              }
              span.nub {
                font-size: 48px;
                font-weight: 700;
                letter-spacing: -1.54px;
                margin-right: 6px;
              }
              span.step {
                font-size: 14px;
                font-weight: 500;
                letter-spacing: -0.56px;
                display: block;
              }
              span.doc {
                font-size: 24px;
                font-weight: 700;
                letter-spacing: -0.96px;
                display: block;
              }
            }
          }
          .number.custom {
            h2 {
              &:before {
                background: #e9eef1;
              }
              span {
                color: #e9eef1;
              }
              span.order {
                font-size: 18px;
              }

            }
          }
        }
        .step4ToPay {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          margin-top: 27px;
          .step4 {
            @media screen and (max-width:991px){
              margin-bottom: 30px;
            }
            .box {
              width: 387px;
              border-radius: 5px;
              background-color: #ffffff;
              box-shadow: 0px 5px 6px #e9eef1;
              margin-bottom: 11px;
              border-left: 5px solid #5b7eff;
              padding-left: 16px;
              padding-top: 19px;
              padding-right: 22px;
              @media screen and (max-width:991px){
                width: 100%;
                height: auto !important;
                padding-bottom: 30px;
              }
              p {
                color: #828385;
                font-family: $mainFont;
                font-size: 18px;
                font-weight: $mainFontWeight;
                margin-bottom: 0;
              }
              .padding {
                padding-left: 19px;
              }
            }
            .box1 {
              height: 108px;
            }
            .box2 {
              height: 128px;
            }
            .box3 {
              height: 78px;
            }
            .box4, .box5 {
              height: auto;
              padding-bottom: 17px;
            }
            .box6 {
              height: 118px;
              text-align: center;
              h3 {
                color: #00cca7;
                font-family: $mainFont;
                font-size: 18px;
                font-weight: $mainFontWeight;
                text-transform: uppercase;
                margin-bottom: 0;
              }
              h2 {
                margin-bottom: 0;
                color: #5b7eff;
                font-family: $mainFont;
                font-weight: $mainFontWeight;
                font-size: 60px;
                text-transform: uppercase;
              }
            }
          }
          .step4Form {
            width: 48%;
            @media screen and (max-width:991px){
              width: 100%;
            }
            .pay {
              input:not(.radio) {
                width: 423px;
                height: 30px;
                border-radius: 15px;
                background-color: #ecf0f2;
                border: 0;
                outline: none;
                text-indent: 18px;
                margin-bottom: 6px;
                color: #b0b2b3;
                font-family: $mainFont;
                font-size: 18px;
                font-weight: 300;
                @media screen and (max-width:991px){
                  width: 100%;
                }
              }
              .icon {
                position: relative;
                display: block;
                margin-bottom: 0;
                &:before {
                  font-family: "Font Awesome 5 Free";
                  font-weight: 900;
                  content: "\f107";
                  position: absolute;
                  right: 21px;
                  top: 4px;
                  z-index: 999;
                  color: #00cca7;
                  pointer-events: none;
                  cursor: pointer;
                }
              }
              .background {
                height: 120px;
                border-radius: 5px;
                background-color: #ffffff;
                box-shadow: 0px 5px 6px #e9eef1;
                border-left: 5px solid #5b7eff;
                padding-left: 16px;
                padding-top: 19px;
                padding-right: 22px;
                margin-top: 8px;
                @media screen and (max-width:991px){
                  height: auto;
                  padding-bottom: 30px;
                  margin-top: 15px;
                }
                .own {
                  color: #828385;
                  font-family: $mainFont;
                  font-size: 16px;
                  font-weight: $mainFontWeight;
                }
              }
              select {
                width: 423px;
                height: 30px;
                border-radius: 15px;
                margin-bottom: 6px;
                @media screen and (max-width:991px){
                  width: 100%;
                }
                background-color: #ecf0f2;
                border: 0;
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                -ms-appearance: none;
                outline: none;
                text-indent: 18px;
                color: #b0b2b3;
                font-family: $mainFont;
                font-size: 18px;
                font-weight: 300;
              }
              .first-radio {
                display: block;
              }
              .label-radio {
                position: relative;
                padding-right: 17px;
                padding-left: 23px;
                .check-mark {
                  position: absolute;
                  content: '';
                  width: 14px;
                  height: 14px;
                  border: 2px solid #e9eef1;
                  border-radius: 50%;
                  left: 0;
                  top: 50%;
                  transform: translate(0, -50%);
                  &:after {
                    position: absolute;
                    content: '';
                    width: 10px;
                    height: 10px;
                    background: #31a48a;
                    left: 50%;
                    border-radius: 50%;
                    top: 50%;
                    display: none;
                    transform: translate(-50%, -50%);
                  }
                }

                input {
                  width: auto;
                  border: 0;
                  padding: 0;
                  text-indent: 0;
                  position: absolute;
                  opacity: 0;
                  &:checked + .check-mark:after {
                    display: block;
                  }
                }
              }
            }
            .check-box {
              border-radius: 5px;
              background-color: #ffffff;
              box-shadow: 0px 5px 6px #e9eef1;
              border-left: 5px solid #5b7eff;
              padding-left: 16px;
              padding-top: 19px;
              padding-right: 22px;
              margin-top: 11px;
              padding-bottom: 12px;
              .own {
                color: #828385;
                font-family: $mainFont;
                font-size: 16px;
                font-weight: $mainFontWeight;
                .note{
                  color: #00cca7;
                  font-size: 20px;
                  font-weight: 300;
                }
              }
              input{
                width: 363px;
                height: 30px;
                border-radius: 15px;
                background-color: #ecf0f2;
                border: 0;
                outline: none;
                text-indent: 18px;
                margin-bottom: 6px;
                color: #b0b2b3;
                font-family: $mainFont;
                font-size: 18px;
                font-weight: 300;
                @media screen and (max-width:991px){
                  width: 100%;
                }
              }
              .first-radio {
                display: block;
                padding-left: 0 !important;
              }
              .label-radio {
                position: relative;
                padding-right: 14px;
                padding-left: 23px;
                .check-mark {
                  position: absolute;
                  content: '';
                  width: 14px;
                  height: 14px;
                  border: 2px solid #e9eef1;
                  border-radius: 50%;
                  left: 0;
                  top: 50%;
                  transform: translate(0, -50%);
                  &:after {
                    position: absolute;
                    content: '';
                    width: 10px;
                    height: 10px;
                    background: #31a48a;
                    left: 50%;
                    border-radius: 50%;
                    top: 50%;
                    display: none;
                    transform: translate(-50%, -50%);
                  }
                }

                input {
                  width: auto;
                  border: 0;
                  padding: 0;
                  text-indent: 0;
                  position: absolute;
                  opacity: 0;
                  &:checked + .check-mark:after {
                    display: block;
                  }
                }
              }
            }
          }
        }
        .payAndPrint{
          display: flex;
          justify-content: flex-end;
          @media screen and (max-width:991px){
            margin-top: 30px;
            justify-content: center;
          }
          button{
            width: 190px;
            height: 30px;
            border-radius: 15px;
            background-color: #5b7eff;
            border:0;
            outline: none;
            color: #ffffff;
            font-family: $mainFont;
            font-size: 15px;
            font-weight: $mainFontWeight;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}