@import "../components/global-header";
@import "../components/global-footer";
@import "../components/components";
@import "../font";
$mainFont: "Tahoma";
$mainFontWeight: 400;
$transform: uppercase;
@mixin font {
  font-family: $mainFont;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.mainHeader{

}

.header{
  height: 360px;
  align-items: flex-end;
  .content{
    max-width: 1000px;
    margin: auto;
    padding-bottom: 60px;
    .headerTitle{
      width: 50%;
      text-align: left;
      margin: 0;
    }
  }
}

.wizard-02{
  .content{
    padding-top: 66px;
    padding-bottom: 50px;
    background-color: #f1f7fa;
    .documents{
      max-width:995px;
      border-radius:5px;
      background: #FFF;
      margin: auto;
      padding-bottom: 40px;
      @media screen and (max-width:991px){
        height: auto;
        padding-bottom: 40px;
      }
      .document{
        max-width: 887px;
        margin: auto;
        padding-top: 30px;
        @media screen and (max-width:991px){
          padding-right: 30px;
          padding-left: 30px;
        }
        .customProgress{
          .prg{
            .yes{
              z-index: 99999999;
            }
          }
          .prg2{
            .background{
              position: absolute;
              transition:.5s;
              background: #00cca7;
              height: 100%;
              width: 100%;
            }
          }
        }
        .timeLine{
          margin-top: 55px;
          @media screen and (max-width:991px){
            margin-top: 20px;
            margin-bottom: 70px;
          }
          p{
            color: #00cca7;
            font-family: $mainFont;
            font-size: 32px;
            line-height: 42px;
            font-weight: 300;
            width: 71%;
            margin: auto;
            text-align: center;
            position: relative;
            @media screen and (max-width:991px){
              width: 100%;
              font-size: 25px;
            }
            &:before{
              content: '';
              position: absolute;
              width: 144px;
              height: 3px;
              background: #5b7eff;
              border-radius: 15px;
              bottom: -16px;
              left: 50%;
              z-index:99999;
              transform: translate(-50%,0);
            }
            &:after{
              content: '';
              position: absolute;
              width: 224px;
              background: #d6dfe4;
              height: 1px;
              border-radius: 15px;
              bottom: -15px;
              left: 50%;
              transform: translate(-50%,0);
            }
            .firstSpan{
              font-weight: 600;
            }
            span{
              color: #5b7eff;
            }
            .lastSpan{
              font-size: 48px;
              font-weight: 800;
              text-transform: uppercase;
              @media screen and (max-width:991px){
                width: 100%;
                font-size: 30px;
              }
            }
          }
        }
        .date{
          width: 285px;
          border-radius: 5px;
          background-color: #ffffff;
          box-shadow: -5px 5px 6px #e9eef1;
          border-left: 5px solid #5b7eff;
          margin: auto;
          margin-top: 42px;
          text-align: center;
          padding-top: 12px;
          @media screen and (max-width:661px){
            width: 100%;
          }
          h3,h2,p{
            font-family: $mainFont;
            font-weight: $mainFontWeight;
            text-transform: uppercase;
            margin-bottom: 0;
          }
          h3{
            color: #00cca7;
            font-size: 32px;
          }
          h2{
            color: #5b7eff;
            font-size: 60px;
          }
          p{
            color: #00cca7;
            font-size: 32px;
          }
        }
        .selections{
          margin-top: 23px;
          div{
            p{
              margin-bottom: 0;
              color: #4d4d4f;
              font-family: $mainFont;
              font-size: 18px;
              font-weight: $mainFontWeight;
            }
            p.relative{
              position: relative;
              line-height: 32px;
              @media screen and (max-width:771px){
                line-height: 27px;
                font-size: 12px;
              }
              .minus{
                height: 2px;
                width: 12px;
                background: #00cca7;
                display: inline-block;
                border-radius: 20px;
                margin-right: 10px;
                margin-bottom: 6px;
              }
              .minus.customMinus{
                width: 50px;
                background: #5b7eff;
              }
              .left{
                display: inline-block;
                margin-left: 22px;
              }
            }
          }
        }
        .nextPrev{
          display: flex;
          justify-content: space-between;
          margin-top: 22px;
          button{
            width: 110px;
            height: 30px;
            border-radius: 15px;
            border: 0;
            outline: none;
            cursor: pointer;
            color: #ffffff;
            @include font;
            text-transform: uppercase;
          }
          .next{
            background-color: #5b7eff;
          }
          .prev{
            background-color: #e9eef1;
          }
        }
      }
    }
  }
}