@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
.mainHeader {
  height: 65px; }
  @media screen and (max-width: 991px) {
    .mainHeader {
      height: auto; } }
  .mainHeader .bg-light {
    background-color: #5b7eff !important;
    padding: 0 1rem;
    height: 100%; }
    @media screen and (max-width: 991px) {
      .mainHeader .bg-light {
        padding: .5rem 1rem; } }
    .mainHeader .bg-light .navbar-nav {
      display: flex;
      align-items: center;
      padding-right: 53px; }
      @media screen and (max-width: 991px) {
        .mainHeader .bg-light .navbar-nav {
          padding-right: 0; } }
    .mainHeader .bg-light .nav-item.transparent {
      border-bottom: 4px solid transparent; }
      .mainHeader .bg-light .nav-item.transparent:hover {
        border-bottom: 4px solid #00cca7; }
    .mainHeader .bg-light .nav-item {
      margin-left: 30px;
      transition: .5s ease-in-out; }
      @media screen and (max-width: 991px) {
        .mainHeader .bg-light .nav-item {
          margin-left: 0;
          margin-bottom: 20px; } }
      .mainHeader .bg-light .nav-item .nav-link {
        color: #5b7eff;
        font-family: "Tahoma";
        font-size: 15px;
        font-weight: 400;
        text-transform: uppercase;
        padding: 19px 1rem; }
      .mainHeader .bg-light .nav-item .nav-links {
        background-image: linear-gradient(to right, #ffffff 0%, #5b7eff 100%);
        -webkit-background-clip: text; }
    .mainHeader .bg-light .nav-item.button {
      width: 110px;
      height: 30px;
      border-radius: 15px;
      background-color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 57px;
      border: 0; }
      @media screen and (max-width: 991px) {
        .mainHeader .bg-light .nav-item.button {
          margin-left: 0; } }
      .mainHeader .bg-light .nav-item.button .nav-link {
        padding: 0;
        color: #00cca7; }
        .mainHeader .bg-light .nav-item.button .nav-link i {
          margin-right: 5px; }
    .mainHeader .bg-light .nav-item.active > .nav-link {
      color: #ffffff;
      border-bottom: 4px solid #00cca7; }

.header {
  height: 480px;
  background-image: linear-gradient(to bottom, #00cca7 0%, #5b7eff 100%);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; }
  .header img {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%; }
  .header .content {
    width: 100%;
    position: relative; }
    .header .content .headerTitle {
      color: #f6f6f6;
      font-family: "Tahoma";
      font-size: 48px;
      font-weight: 800;
      text-transform: uppercase;
      width: 40%;
      margin: auto;
      text-align: center;
      line-height: 36px; }
      @media screen and (max-width: 991px) {
        .header .content .headerTitle {
          width: 100%;
          font-size: 30px; } }
      .header .content .headerTitle span {
        font-size: 32px;
        font-weight: 300; }
        @media screen and (max-width: 991px) {
          .header .content .headerTitle span {
            width: 100%;
            font-size: 22px; } }

.globalFooter {
  height: 290px;
  background-color: #040d2e; }
  @media screen and (max-width: 725px) {
    .globalFooter {
      height: auto; } }
  .globalFooter .footer {
    max-width: 1000px;
    margin: auto;
    display: flex;
    padding-top: 59px;
    border-bottom: 1px solid #1e2f6d;
    padding-bottom: 15px;
    flex-wrap: wrap; }
    .globalFooter .footer .footer-links {
      width: 20%; }
      @media screen and (max-width: 725px) {
        .globalFooter .footer .footer-links {
          width: 100%; } }
      .globalFooter .footer .footer-links li.first-link {
        color: #ffffff;
        font-family: "Tahoma";
        font-size: 16px;
        font-weight: 500; }
      .globalFooter .footer .footer-links li.second-link {
        margin-top: 24px; }
      .globalFooter .footer .footer-links li.link {
        color: #2d3450;
        font-family: "Tahoma";
        font-size: 16px;
        font-weight: 300; }
        @media screen and (max-width: 1054px) {
          .globalFooter .footer .footer-links li.link img {
            width: 100%; } }
        @media screen and (max-width: 725px) {
          .globalFooter .footer .footer-links li.link img {
            width: auto; } }
      .globalFooter .footer .footer-links li.special {
        color: #00cca7; }
  .globalFooter .copyRight {
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap; }
    .globalFooter .copyRight .right p {
      color: #f6f6f6;
      font-family: "Tahoma";
      font-size: 16px;
      font-weight: 300; }
      .globalFooter .copyRight .right p span {
        color: #00cca7; }
    .globalFooter .copyRight .privacy {
      margin-top: 1px; }
      .globalFooter .copyRight .privacy p {
        color: #f6f6f6;
        font-family: "Tahoma";
        font-size: 16px;
        font-weight: 300; }
        .globalFooter .copyRight .privacy p span {
          margin-right: 37px; }

.content .documents .document .customProgress {
  display: flex; }
  .content .documents .document .customProgress .prg {
    width: 25%;
    height: 25px;
    position: relative;
    transition: .5s;
    background: #e9eef1; }
    .content .documents .document .customProgress .prg img {
      position: absolute;
      right: 6px;
      bottom: -6px;
      cursor: pointer; }
    .content .documents .document .customProgress .prg .background {
      position: absolute;
      transition: .5s;
      background: #00cca7;
      height: 100%; }
  .content .documents .document .customProgress .prg1 {
    background: #00cca7;
    border-radius: 15px;
    z-index: 99; }
  .content .documents .document .customProgress .prg2 {
    margin-left: -8px; }
  .content .documents .document .customProgress .prg3, .content .documents .document .customProgress .prg4 {
    margin-left: -1px; }
  .content .documents .document .customProgress .prg4 {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px; }
.content .documents .document .numbers {
  padding-top: 23px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .content .documents .document .numbers .number {
    width: 23%; }
    @media screen and (max-width: 991px) {
      .content .documents .document .numbers .number {
        width: auto;
        margin-bottom: 30px; } }
    @media screen and (max-width: 500px) {
      .content .documents .document .numbers .number {
        width: 51%; } }
    .content .documents .document .numbers .number h2.active span.nub {
      color: #00cca7; }
    .content .documents .document .numbers .number h2.active span.step {
      color: #5b7eff; }
    .content .documents .document .numbers .number h2.active span.doc {
      color: #5b7eff; }
    .content .documents .document .numbers .number h2.active:before {
      content: '';
      position: absolute;
      width: 45px;
      background: #00cca7 !important;
      height: 3px;
      border-radius: 15px;
      bottom: 0;
      left: 5px;
      z-index: 99999 !important; }
    .content .documents .document .numbers .number h2 {
      display: flex;
      align-items: center;
      position: relative;
      cursor: pointer; }
      .content .documents .document .numbers .number h2:before {
        content: '';
        position: absolute;
        width: 45px;
        height: 3px;
        border-radius: 15px;
        bottom: 0;
        left: 5px; }
      .content .documents .document .numbers .number h2:after {
        content: '';
        position: absolute;
        width: 100%;
        background: #d6dfe4;
        height: 1px;
        border-radius: 15px;
        bottom: 1px;
        left: 5px; }
      .content .documents .document .numbers .number h2 span {
        font-family: Montserrat;
        text-transform: uppercase;
        display: inline-block; }
      .content .documents .document .numbers .number h2 span.nub {
        font-size: 48px;
        font-weight: 700;
        letter-spacing: -1.54px;
        margin-right: 6px; }
      .content .documents .document .numbers .number h2 span.step {
        font-size: 14px;
        font-weight: 500;
        letter-spacing: -0.56px;
        display: block; }
      .content .documents .document .numbers .number h2 span.doc {
        font-size: 24px;
        font-weight: 700;
        letter-spacing: -0.96px;
        display: block; }
  .content .documents .document .numbers .number.custom h2:before {
    background: #e9eef1; }
  .content .documents .document .numbers .number.custom h2 span {
    color: #e9eef1; }
  .content .documents .document .numbers .number.custom h2 span.order {
    font-size: 18px; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.header {
  height: 360px;
  align-items: flex-end; }
  .header .content {
    max-width: 1000px;
    margin: auto;
    padding-bottom: 60px; }
    .header .content .headerTitle {
      width: 50%;
      text-align: left;
      margin: 0; }

.wizard04 .content {
  padding-top: 66px;
  padding-bottom: 50px;
  background-color: #f1f7fa; }
  .wizard04 .content .documents {
    max-width: 995px;
    height: 1068px;
    border-radius: 5px;
    background: #FFF;
    margin: auto; }
    @media screen and (max-width: 991px) {
      .wizard04 .content .documents {
        height: auto;
        padding-bottom: 40px; } }
    .wizard04 .content .documents .document {
      max-width: 887px;
      margin: auto;
      padding-top: 30px; }
      @media screen and (max-width: 991px) {
        .wizard04 .content .documents .document {
          padding-right: 30px;
          padding-left: 30px; } }
      .wizard04 .content .documents .document .customProgress {
        display: flex; }
        .wizard04 .content .documents .document .customProgress .prg {
          width: 25%;
          height: 25px;
          position: relative;
          transition: .5s;
          background: #e9eef1; }
          .wizard04 .content .documents .document .customProgress .prg img {
            position: absolute;
            right: 6px;
            bottom: -6px;
            cursor: pointer;
            z-index: 9999; }
          .wizard04 .content .documents .document .customProgress .prg .background {
            position: absolute;
            transition: .5s;
            background: #00cca7;
            height: 100%;
            width: 100%; }
        .wizard04 .content .documents .document .customProgress .prg1 {
          background: #00cca7;
          border-radius: 15px;
          z-index: 99; }
        .wizard04 .content .documents .document .customProgress .prg2 {
          margin-left: -8px; }
        .wizard04 .content .documents .document .customProgress .prg3, .wizard04 .content .documents .document .customProgress .prg4 {
          margin-left: -1px; }
        .wizard04 .content .documents .document .customProgress .prg4 {
          border-top-right-radius: 15px;
          border-bottom-right-radius: 15px; }
          .wizard04 .content .documents .document .customProgress .prg4 .background {
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px; }
      .wizard04 .content .documents .document .numbers {
        padding-top: 23px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap; }
        .wizard04 .content .documents .document .numbers .number {
          width: 23%; }
          @media screen and (max-width: 991px) {
            .wizard04 .content .documents .document .numbers .number {
              width: auto;
              margin-bottom: 30px; } }
          .wizard04 .content .documents .document .numbers .number h2.active span.nub {
            color: #00cca7; }
          .wizard04 .content .documents .document .numbers .number h2.active span.step {
            color: #5b7eff; }
          .wizard04 .content .documents .document .numbers .number h2.active span.doc {
            color: #5b7eff; }
          .wizard04 .content .documents .document .numbers .number h2.active:before {
            content: '';
            position: absolute;
            width: 45px;
            background: #00cca7 !important;
            height: 3px;
            border-radius: 15px;
            bottom: 0;
            left: 5px;
            z-index: 9999; }
          .wizard04 .content .documents .document .numbers .number h2 {
            display: flex;
            align-items: center;
            position: relative;
            cursor: pointer; }
            .wizard04 .content .documents .document .numbers .number h2:before {
              content: '';
              position: absolute;
              width: 45px;
              height: 3px;
              border-radius: 15px;
              bottom: 0;
              left: 5px; }
            .wizard04 .content .documents .document .numbers .number h2:after {
              content: '';
              position: absolute;
              width: 100%;
              background: #d6dfe4;
              height: 1px;
              border-radius: 15px;
              bottom: 1px;
              left: 5px; }
            .wizard04 .content .documents .document .numbers .number h2 span {
              font-family: Montserrat;
              text-transform: uppercase;
              display: inline-block; }
            .wizard04 .content .documents .document .numbers .number h2 span.nub {
              font-size: 48px;
              font-weight: 700;
              letter-spacing: -1.54px;
              margin-right: 6px; }
            .wizard04 .content .documents .document .numbers .number h2 span.step {
              font-size: 14px;
              font-weight: 500;
              letter-spacing: -0.56px;
              display: block; }
            .wizard04 .content .documents .document .numbers .number h2 span.doc {
              font-size: 24px;
              font-weight: 700;
              letter-spacing: -0.96px;
              display: block; }
        .wizard04 .content .documents .document .numbers .number.custom h2:before {
          background: #e9eef1; }
        .wizard04 .content .documents .document .numbers .number.custom h2 span {
          color: #e9eef1; }
        .wizard04 .content .documents .document .numbers .number.custom h2 span.order {
          font-size: 18px; }
      .wizard04 .content .documents .document .step4ToPay {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 27px; }
        @media screen and (max-width: 991px) {
          .wizard04 .content .documents .document .step4ToPay .step4 {
            margin-bottom: 30px; } }
        .wizard04 .content .documents .document .step4ToPay .step4 .box {
          width: 387px;
          border-radius: 5px;
          background-color: #ffffff;
          box-shadow: 0px 5px 6px #e9eef1;
          margin-bottom: 11px;
          border-left: 5px solid #5b7eff;
          padding-left: 16px;
          padding-top: 19px;
          padding-right: 22px; }
          @media screen and (max-width: 991px) {
            .wizard04 .content .documents .document .step4ToPay .step4 .box {
              width: 100%;
              height: auto !important;
              padding-bottom: 30px; } }
          .wizard04 .content .documents .document .step4ToPay .step4 .box p {
            color: #828385;
            font-family: "Tahoma";
            font-size: 18px;
            font-weight: 400;
            margin-bottom: 0; }
          .wizard04 .content .documents .document .step4ToPay .step4 .box .padding {
            padding-left: 19px; }
        .wizard04 .content .documents .document .step4ToPay .step4 .box1 {
          height: 108px; }
        .wizard04 .content .documents .document .step4ToPay .step4 .box2 {
          height: 128px; }
        .wizard04 .content .documents .document .step4ToPay .step4 .box3 {
          height: 78px; }
        .wizard04 .content .documents .document .step4ToPay .step4 .box4, .wizard04 .content .documents .document .step4ToPay .step4 .box5 {
          height: auto;
          padding-bottom: 17px; }
        .wizard04 .content .documents .document .step4ToPay .step4 .box6 {
          height: 118px;
          text-align: center; }
          .wizard04 .content .documents .document .step4ToPay .step4 .box6 h3 {
            color: #00cca7;
            font-family: "Tahoma";
            font-size: 18px;
            font-weight: 400;
            text-transform: uppercase;
            margin-bottom: 0; }
          .wizard04 .content .documents .document .step4ToPay .step4 .box6 h2 {
            margin-bottom: 0;
            color: #5b7eff;
            font-family: "Tahoma";
            font-weight: 400;
            font-size: 60px;
            text-transform: uppercase; }
        .wizard04 .content .documents .document .step4ToPay .step4Form {
          width: 48%; }
          @media screen and (max-width: 991px) {
            .wizard04 .content .documents .document .step4ToPay .step4Form {
              width: 100%; } }
          .wizard04 .content .documents .document .step4ToPay .step4Form .pay input:not(.radio) {
            width: 423px;
            height: 30px;
            border-radius: 15px;
            background-color: #ecf0f2;
            border: 0;
            outline: none;
            text-indent: 18px;
            margin-bottom: 6px;
            color: #b0b2b3;
            font-family: "Tahoma";
            font-size: 18px;
            font-weight: 300; }
            @media screen and (max-width: 991px) {
              .wizard04 .content .documents .document .step4ToPay .step4Form .pay input:not(.radio) {
                width: 100%; } }
          .wizard04 .content .documents .document .step4ToPay .step4Form .pay .icon {
            position: relative;
            display: block;
            margin-bottom: 0; }
            .wizard04 .content .documents .document .step4ToPay .step4Form .pay .icon:before {
              font-family: "Font Awesome 5 Free";
              font-weight: 900;
              content: "\f107";
              position: absolute;
              right: 21px;
              top: 4px;
              z-index: 999;
              color: #00cca7;
              pointer-events: none;
              cursor: pointer; }
          .wizard04 .content .documents .document .step4ToPay .step4Form .pay .background {
            height: 120px;
            border-radius: 5px;
            background-color: #ffffff;
            box-shadow: 0px 5px 6px #e9eef1;
            border-left: 5px solid #5b7eff;
            padding-left: 16px;
            padding-top: 19px;
            padding-right: 22px;
            margin-top: 8px; }
            @media screen and (max-width: 991px) {
              .wizard04 .content .documents .document .step4ToPay .step4Form .pay .background {
                height: auto;
                padding-bottom: 30px;
                margin-top: 15px; } }
            .wizard04 .content .documents .document .step4ToPay .step4Form .pay .background .own {
              color: #828385;
              font-family: "Tahoma";
              font-size: 16px;
              font-weight: 400; }
          .wizard04 .content .documents .document .step4ToPay .step4Form .pay select {
            width: 423px;
            height: 30px;
            border-radius: 15px;
            margin-bottom: 6px;
            background-color: #ecf0f2;
            border: 0;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            -ms-appearance: none;
            outline: none;
            text-indent: 18px;
            color: #b0b2b3;
            font-family: "Tahoma";
            font-size: 18px;
            font-weight: 300; }
            @media screen and (max-width: 991px) {
              .wizard04 .content .documents .document .step4ToPay .step4Form .pay select {
                width: 100%; } }
          .wizard04 .content .documents .document .step4ToPay .step4Form .pay .first-radio {
            display: block; }
          .wizard04 .content .documents .document .step4ToPay .step4Form .pay .label-radio {
            position: relative;
            padding-right: 17px;
            padding-left: 23px; }
            .wizard04 .content .documents .document .step4ToPay .step4Form .pay .label-radio .check-mark {
              position: absolute;
              content: '';
              width: 14px;
              height: 14px;
              border: 2px solid #e9eef1;
              border-radius: 50%;
              left: 0;
              top: 50%;
              transform: translate(0, -50%); }
              .wizard04 .content .documents .document .step4ToPay .step4Form .pay .label-radio .check-mark:after {
                position: absolute;
                content: '';
                width: 10px;
                height: 10px;
                background: #31a48a;
                left: 50%;
                border-radius: 50%;
                top: 50%;
                display: none;
                transform: translate(-50%, -50%); }
            .wizard04 .content .documents .document .step4ToPay .step4Form .pay .label-radio input {
              width: auto;
              border: 0;
              padding: 0;
              text-indent: 0;
              position: absolute;
              opacity: 0; }
              .wizard04 .content .documents .document .step4ToPay .step4Form .pay .label-radio input:checked + .check-mark:after {
                display: block; }
          .wizard04 .content .documents .document .step4ToPay .step4Form .check-box {
            border-radius: 5px;
            background-color: #ffffff;
            box-shadow: 0px 5px 6px #e9eef1;
            border-left: 5px solid #5b7eff;
            padding-left: 16px;
            padding-top: 19px;
            padding-right: 22px;
            margin-top: 11px;
            padding-bottom: 12px; }
            .wizard04 .content .documents .document .step4ToPay .step4Form .check-box .own {
              color: #828385;
              font-family: "Tahoma";
              font-size: 16px;
              font-weight: 400; }
              .wizard04 .content .documents .document .step4ToPay .step4Form .check-box .own .note {
                color: #00cca7;
                font-size: 20px;
                font-weight: 300; }
            .wizard04 .content .documents .document .step4ToPay .step4Form .check-box input {
              width: 363px;
              height: 30px;
              border-radius: 15px;
              background-color: #ecf0f2;
              border: 0;
              outline: none;
              text-indent: 18px;
              margin-bottom: 6px;
              color: #b0b2b3;
              font-family: "Tahoma";
              font-size: 18px;
              font-weight: 300; }
              @media screen and (max-width: 991px) {
                .wizard04 .content .documents .document .step4ToPay .step4Form .check-box input {
                  width: 100%; } }
            .wizard04 .content .documents .document .step4ToPay .step4Form .check-box .first-radio {
              display: block;
              padding-left: 0 !important; }
            .wizard04 .content .documents .document .step4ToPay .step4Form .check-box .label-radio {
              position: relative;
              padding-right: 14px;
              padding-left: 23px; }
              .wizard04 .content .documents .document .step4ToPay .step4Form .check-box .label-radio .check-mark {
                position: absolute;
                content: '';
                width: 14px;
                height: 14px;
                border: 2px solid #e9eef1;
                border-radius: 50%;
                left: 0;
                top: 50%;
                transform: translate(0, -50%); }
                .wizard04 .content .documents .document .step4ToPay .step4Form .check-box .label-radio .check-mark:after {
                  position: absolute;
                  content: '';
                  width: 10px;
                  height: 10px;
                  background: #31a48a;
                  left: 50%;
                  border-radius: 50%;
                  top: 50%;
                  display: none;
                  transform: translate(-50%, -50%); }
              .wizard04 .content .documents .document .step4ToPay .step4Form .check-box .label-radio input {
                width: auto;
                border: 0;
                padding: 0;
                text-indent: 0;
                position: absolute;
                opacity: 0; }
                .wizard04 .content .documents .document .step4ToPay .step4Form .check-box .label-radio input:checked + .check-mark:after {
                  display: block; }
      .wizard04 .content .documents .document .payAndPrint {
        display: flex;
        justify-content: flex-end; }
        @media screen and (max-width: 991px) {
          .wizard04 .content .documents .document .payAndPrint {
            margin-top: 30px;
            justify-content: center; } }
        .wizard04 .content .documents .document .payAndPrint button {
          width: 190px;
          height: 30px;
          border-radius: 15px;
          background-color: #5b7eff;
          border: 0;
          outline: none;
          color: #ffffff;
          font-family: "Tahoma";
          font-size: 15px;
          font-weight: 400;
          text-transform: uppercase; }

/*# sourceMappingURL=02-wizard4.css.map */
