@import "../components/global-header";
@import "../components/global-footer";
@import "../components/components";
@import "../font";
$mainFont: "Tahoma";
$mainFontWeight: 400;
$transform: uppercase;
@mixin font {
  font-family: $mainFont;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.mainHeader{

}

.header{
  height: 360px;
  align-items: flex-end;
  .content{
    max-width: 1000px;
    margin: auto;
    padding-bottom: 60px;
    .headerTitle{
      width: 50%;
      text-align: left;
      margin: 0;
    }
  }
}

.wizard-03{
  .content{
    padding-top: 66px;
    padding-bottom: 50px;
    background-color: #f1f7fa;
    .documents{
      max-width:995px;
      border-radius:5px;
      background: #FFF;
      margin: auto;
      padding-bottom: 40px;
      @media screen and (max-width:991px){
        height: auto;
        padding-bottom: 40px;
      }
      .document{
        max-width: 887px;
        margin: auto;
        padding-top: 30px;
        @media screen and (max-width:991px){
          padding-right: 30px;
          padding-left: 30px;
        }
        .customProgress{
          .prg{
            .yes{
              z-index: 99999999;
            }
          }
          .prg2{
            .background{
              position: absolute;
              transition:.5s;
              background: #00cca7;
              height: 100%;
              width: 100%;
            }
          }
          .prg3{
            .background{
              position: absolute;
              transition:.5s;
              background: #00cca7;
              height: 100%;
              width: 100%;
            }
          }
        }
        .deleteAll{
          border-radius: 5px;
          background-color: #ffffff;
          box-shadow: -5px 5px 6px #e9eef1;
          border-left: 5px solid #5b7eff;
          padding-bottom: 11px;
          padding-top: 15px;
          padding-left: 26px;
          margin-top: 30px;
          p{
            color: #828385;
            font-family: $mainFont;
            font-size: 18px;
            font-weight: $mainFontWeight;
            margin-bottom: 0;
            span{
              display: inline-block;
              @media screen and (max-width:437px){
                margin-right: 0 !important;
                width: 100%;
              }
            }
            .country,.count,.edit,.type{
              margin-right: 35px;
            }
            .fees{
              margin-right: 51px;
            }
            .date{
              margin-right: 43px;
            }
            .delete{
              color: #00cca7;
              text-transform: uppercase;
              img{
                margin-right: 9px;
              }
            }
          }
        }
        .deleteAll2{
          margin-top: 10px;
          p{
            .country,.count,.edit,.type{
              margin-right: 55px;
            }
            .count{
              margin-right: 71px;
            }
            .edit{
              margin-right: 86px;
              color: #5b7eff;
            }
            .type{
              margin-right: 102px;
            }
            .fees{
              margin-right: 25px;
            }
            .date{
              margin-right: 74px;
            }
          }
        }
        .nextPrev{
          display: flex;
          justify-content: space-between;
          margin-top: 10px;
          align-items: flex-end;
          flex-wrap: wrap;
          button{
            width: 110px;
            height: 30px;
            border-radius: 15px;
            border: 0;
            outline: none;
            cursor: pointer;
            color: #ffffff;
            @include font;
            text-transform: uppercase;
          }
          .next{
            background-color: #5b7eff;
          }
          .amount{
            border-radius: 5px;
            background-color: #ffffff;
            width: 285px;
            height: 128px;
            box-shadow: -5px 5px 6px #e9eef1;
            border-left: 5px solid #5b7eff;
            text-align: center;
            padding-top: 20px;
            @media screen and (max-width:501px){
              margin-bottom: 20px;
              height: auto;
              padding-bottom: 15px;
            }
            h3,h2{
              font-family: $mainFont;
              font-weight: $mainFontWeight;
              text-transform: uppercase;
              margin-bottom: 0;
            }
            h3{
              font-size: 32px;
              color: #00cca7;
              line-height: 22px;
              @media screen and (max-width:500px){
                font-size: 22px;
              }
            }
            h2{
              color: #5b7eff;
              font-size: 60px;
              @media screen and (max-width:500px){
                font-size: 40px;
              }
            }
          }
        }
      }
    }
  }
}