@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
.mainHeader {
  height: 65px; }
  @media screen and (max-width: 991px) {
    .mainHeader {
      height: auto; } }
  .mainHeader .bg-light {
    background-color: #5b7eff !important;
    padding: 0 1rem;
    height: 100%; }
    @media screen and (max-width: 991px) {
      .mainHeader .bg-light {
        padding: .5rem 1rem; } }
    .mainHeader .bg-light .navbar-nav {
      display: flex;
      align-items: center;
      padding-right: 53px; }
      @media screen and (max-width: 991px) {
        .mainHeader .bg-light .navbar-nav {
          padding-right: 0; } }
    .mainHeader .bg-light .nav-item.transparent {
      border-bottom: 4px solid transparent; }
      .mainHeader .bg-light .nav-item.transparent:hover {
        border-bottom: 4px solid #00cca7; }
    .mainHeader .bg-light .nav-item {
      margin-left: 30px;
      transition: .5s ease-in-out; }
      @media screen and (max-width: 991px) {
        .mainHeader .bg-light .nav-item {
          margin-left: 0;
          margin-bottom: 20px; } }
      .mainHeader .bg-light .nav-item .nav-link {
        color: #5b7eff;
        font-family: "Tahoma";
        font-size: 15px;
        font-weight: 400;
        text-transform: uppercase;
        padding: 19px 1rem; }
      .mainHeader .bg-light .nav-item .nav-links {
        background-image: linear-gradient(to right, #ffffff 0%, #5b7eff 100%);
        -webkit-background-clip: text; }
    .mainHeader .bg-light .nav-item.button {
      width: 110px;
      height: 30px;
      border-radius: 15px;
      background-color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 57px;
      border: 0; }
      @media screen and (max-width: 991px) {
        .mainHeader .bg-light .nav-item.button {
          margin-left: 0; } }
      .mainHeader .bg-light .nav-item.button .nav-link {
        padding: 0;
        color: #00cca7; }
        .mainHeader .bg-light .nav-item.button .nav-link i {
          margin-right: 5px; }
    .mainHeader .bg-light .nav-item.active > .nav-link {
      color: #ffffff;
      border-bottom: 4px solid #00cca7; }

.header {
  height: 480px;
  background-image: linear-gradient(to bottom, #00cca7 0%, #5b7eff 100%);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; }
  .header img {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%; }
  .header .content {
    width: 100%;
    position: relative; }
    .header .content .headerTitle {
      color: #f6f6f6;
      font-family: "Tahoma";
      font-size: 48px;
      font-weight: 800;
      text-transform: uppercase;
      width: 40%;
      margin: auto;
      text-align: center;
      line-height: 36px; }
      @media screen and (max-width: 991px) {
        .header .content .headerTitle {
          width: 100%;
          font-size: 30px; } }
      .header .content .headerTitle span {
        font-size: 32px;
        font-weight: 300; }
        @media screen and (max-width: 991px) {
          .header .content .headerTitle span {
            width: 100%;
            font-size: 22px; } }

.globalFooter {
  height: 290px;
  background-color: #040d2e; }
  @media screen and (max-width: 725px) {
    .globalFooter {
      height: auto; } }
  .globalFooter .footer {
    max-width: 1000px;
    margin: auto;
    display: flex;
    padding-top: 59px;
    border-bottom: 1px solid #1e2f6d;
    padding-bottom: 15px;
    flex-wrap: wrap; }
    .globalFooter .footer .footer-links {
      width: 20%; }
      @media screen and (max-width: 725px) {
        .globalFooter .footer .footer-links {
          width: 100%; } }
      .globalFooter .footer .footer-links li.first-link {
        color: #ffffff;
        font-family: "Tahoma";
        font-size: 16px;
        font-weight: 500; }
      .globalFooter .footer .footer-links li.second-link {
        margin-top: 24px; }
      .globalFooter .footer .footer-links li.link {
        color: #2d3450;
        font-family: "Tahoma";
        font-size: 16px;
        font-weight: 300; }
        @media screen and (max-width: 1054px) {
          .globalFooter .footer .footer-links li.link img {
            width: 100%; } }
        @media screen and (max-width: 725px) {
          .globalFooter .footer .footer-links li.link img {
            width: auto; } }
      .globalFooter .footer .footer-links li.special {
        color: #00cca7; }
  .globalFooter .copyRight {
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap; }
    .globalFooter .copyRight .right p {
      color: #f6f6f6;
      font-family: "Tahoma";
      font-size: 16px;
      font-weight: 300; }
      .globalFooter .copyRight .right p span {
        color: #00cca7; }
    .globalFooter .copyRight .privacy {
      margin-top: 1px; }
      .globalFooter .copyRight .privacy p {
        color: #f6f6f6;
        font-family: "Tahoma";
        font-size: 16px;
        font-weight: 300; }
        .globalFooter .copyRight .privacy p span {
          margin-right: 37px; }

.content .documents .document .customProgress {
  display: flex; }
  .content .documents .document .customProgress .prg {
    width: 25%;
    height: 25px;
    position: relative;
    transition: .5s;
    background: #e9eef1; }
    .content .documents .document .customProgress .prg img {
      position: absolute;
      right: 6px;
      bottom: -6px;
      cursor: pointer; }
    .content .documents .document .customProgress .prg .background {
      position: absolute;
      transition: .5s;
      background: #00cca7;
      height: 100%; }
  .content .documents .document .customProgress .prg1 {
    background: #00cca7;
    border-radius: 15px;
    z-index: 99; }
  .content .documents .document .customProgress .prg2 {
    margin-left: -8px; }
  .content .documents .document .customProgress .prg3, .content .documents .document .customProgress .prg4 {
    margin-left: -1px; }
  .content .documents .document .customProgress .prg4 {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px; }
.content .documents .document .numbers {
  padding-top: 23px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .content .documents .document .numbers .number {
    width: 23%; }
    @media screen and (max-width: 991px) {
      .content .documents .document .numbers .number {
        width: auto;
        margin-bottom: 30px; } }
    @media screen and (max-width: 500px) {
      .content .documents .document .numbers .number {
        width: 51%; } }
    .content .documents .document .numbers .number h2.active span.nub {
      color: #00cca7; }
    .content .documents .document .numbers .number h2.active span.step {
      color: #5b7eff; }
    .content .documents .document .numbers .number h2.active span.doc {
      color: #5b7eff; }
    .content .documents .document .numbers .number h2.active:before {
      content: '';
      position: absolute;
      width: 45px;
      background: #00cca7 !important;
      height: 3px;
      border-radius: 15px;
      bottom: 0;
      left: 5px;
      z-index: 99999 !important; }
    .content .documents .document .numbers .number h2 {
      display: flex;
      align-items: center;
      position: relative;
      cursor: pointer; }
      .content .documents .document .numbers .number h2:before {
        content: '';
        position: absolute;
        width: 45px;
        height: 3px;
        border-radius: 15px;
        bottom: 0;
        left: 5px; }
      .content .documents .document .numbers .number h2:after {
        content: '';
        position: absolute;
        width: 100%;
        background: #d6dfe4;
        height: 1px;
        border-radius: 15px;
        bottom: 1px;
        left: 5px; }
      .content .documents .document .numbers .number h2 span {
        font-family: Montserrat;
        text-transform: uppercase;
        display: inline-block; }
      .content .documents .document .numbers .number h2 span.nub {
        font-size: 48px;
        font-weight: 700;
        letter-spacing: -1.54px;
        margin-right: 6px; }
      .content .documents .document .numbers .number h2 span.step {
        font-size: 14px;
        font-weight: 500;
        letter-spacing: -0.56px;
        display: block; }
      .content .documents .document .numbers .number h2 span.doc {
        font-size: 24px;
        font-weight: 700;
        letter-spacing: -0.96px;
        display: block; }
  .content .documents .document .numbers .number.custom h2:before {
    background: #e9eef1; }
  .content .documents .document .numbers .number.custom h2 span {
    color: #e9eef1; }
  .content .documents .document .numbers .number.custom h2 span.order {
    font-size: 18px; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.header {
  height: 360px;
  align-items: flex-end; }
  .header .content {
    max-width: 1000px;
    margin: auto;
    padding-bottom: 60px; }
    .header .content .headerTitle {
      width: 50%;
      text-align: left;
      margin: 0; }

.wizard-03 .content {
  padding-top: 66px;
  padding-bottom: 50px;
  background-color: #f1f7fa; }
  .wizard-03 .content .documents {
    max-width: 995px;
    border-radius: 5px;
    background: #FFF;
    margin: auto;
    padding-bottom: 40px; }
    @media screen and (max-width: 991px) {
      .wizard-03 .content .documents {
        height: auto;
        padding-bottom: 40px; } }
    .wizard-03 .content .documents .document {
      max-width: 887px;
      margin: auto;
      padding-top: 30px; }
      @media screen and (max-width: 991px) {
        .wizard-03 .content .documents .document {
          padding-right: 30px;
          padding-left: 30px; } }
      .wizard-03 .content .documents .document .customProgress .prg .yes {
        z-index: 99999999; }
      .wizard-03 .content .documents .document .customProgress .prg2 .background {
        position: absolute;
        transition: .5s;
        background: #00cca7;
        height: 100%;
        width: 100%; }
      .wizard-03 .content .documents .document .customProgress .prg3 .background {
        position: absolute;
        transition: .5s;
        background: #00cca7;
        height: 100%;
        width: 100%; }
      .wizard-03 .content .documents .document .deleteAll {
        border-radius: 5px;
        background-color: #ffffff;
        box-shadow: -5px 5px 6px #e9eef1;
        border-left: 5px solid #5b7eff;
        padding-bottom: 11px;
        padding-top: 15px;
        padding-left: 26px;
        margin-top: 30px; }
        .wizard-03 .content .documents .document .deleteAll p {
          color: #828385;
          font-family: "Tahoma";
          font-size: 18px;
          font-weight: 400;
          margin-bottom: 0; }
          .wizard-03 .content .documents .document .deleteAll p span {
            display: inline-block; }
            @media screen and (max-width: 437px) {
              .wizard-03 .content .documents .document .deleteAll p span {
                margin-right: 0 !important;
                width: 100%; } }
          .wizard-03 .content .documents .document .deleteAll p .country, .wizard-03 .content .documents .document .deleteAll p .count, .wizard-03 .content .documents .document .deleteAll p .edit, .wizard-03 .content .documents .document .deleteAll p .type {
            margin-right: 35px; }
          .wizard-03 .content .documents .document .deleteAll p .fees {
            margin-right: 51px; }
          .wizard-03 .content .documents .document .deleteAll p .date {
            margin-right: 43px; }
          .wizard-03 .content .documents .document .deleteAll p .delete {
            color: #00cca7;
            text-transform: uppercase; }
            .wizard-03 .content .documents .document .deleteAll p .delete img {
              margin-right: 9px; }
      .wizard-03 .content .documents .document .deleteAll2 {
        margin-top: 10px; }
        .wizard-03 .content .documents .document .deleteAll2 p .country, .wizard-03 .content .documents .document .deleteAll2 p .count, .wizard-03 .content .documents .document .deleteAll2 p .edit, .wizard-03 .content .documents .document .deleteAll2 p .type {
          margin-right: 55px; }
        .wizard-03 .content .documents .document .deleteAll2 p .count {
          margin-right: 71px; }
        .wizard-03 .content .documents .document .deleteAll2 p .edit {
          margin-right: 86px;
          color: #5b7eff; }
        .wizard-03 .content .documents .document .deleteAll2 p .type {
          margin-right: 102px; }
        .wizard-03 .content .documents .document .deleteAll2 p .fees {
          margin-right: 25px; }
        .wizard-03 .content .documents .document .deleteAll2 p .date {
          margin-right: 74px; }
      .wizard-03 .content .documents .document .nextPrev {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        align-items: flex-end;
        flex-wrap: wrap; }
        .wizard-03 .content .documents .document .nextPrev button {
          width: 110px;
          height: 30px;
          border-radius: 15px;
          border: 0;
          outline: none;
          cursor: pointer;
          color: #ffffff;
          font-family: "Tahoma";
          font-size: 15px;
          font-weight: 400;
          text-transform: uppercase;
          text-transform: uppercase; }
        .wizard-03 .content .documents .document .nextPrev .next {
          background-color: #5b7eff; }
        .wizard-03 .content .documents .document .nextPrev .amount {
          border-radius: 5px;
          background-color: #ffffff;
          width: 285px;
          height: 128px;
          box-shadow: -5px 5px 6px #e9eef1;
          border-left: 5px solid #5b7eff;
          text-align: center;
          padding-top: 20px; }
          @media screen and (max-width: 501px) {
            .wizard-03 .content .documents .document .nextPrev .amount {
              margin-bottom: 20px;
              height: auto;
              padding-bottom: 15px; } }
          .wizard-03 .content .documents .document .nextPrev .amount h3, .wizard-03 .content .documents .document .nextPrev .amount h2 {
            font-family: "Tahoma";
            font-weight: 400;
            text-transform: uppercase;
            margin-bottom: 0; }
          .wizard-03 .content .documents .document .nextPrev .amount h3 {
            font-size: 32px;
            color: #00cca7;
            line-height: 22px; }
            @media screen and (max-width: 500px) {
              .wizard-03 .content .documents .document .nextPrev .amount h3 {
                font-size: 22px; } }
          .wizard-03 .content .documents .document .nextPrev .amount h2 {
            color: #5b7eff;
            font-size: 60px; }
            @media screen and (max-width: 500px) {
              .wizard-03 .content .documents .document .nextPrev .amount h2 {
                font-size: 40px; } }

/*# sourceMappingURL=02wizard-3.css.map */
