@import "../components/global-header";
@import "../components/global-footer";
@import "../components/components";
@import "../font";
$mainFont: "Tahoma";
$mainFontWeight: 400;
$transform: uppercase;
@mixin font {
  font-family: $mainFont;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.contactUs{
  .content{
    background-color: #f1f7fa;
    height: 883px;
    @media screen and (max-width:771px){
      height: auto;
      padding-bottom: 50px;
    }
    .contact{
      position: relative;
      .googleMap{
        height: 580px;
        iframe{
          width: 100%;
          height: 100%;
        }
      }
      .contactForm{
        width: 387px;
        border-radius: 5px;
        background-color: #ffffff;
        box-shadow: 0px 5px 0px #e9eef1;
        border-left: 5px solid #5b7eff;
        position: absolute;
        top: 178px;
        left: 100px;
        padding-top: 30px;
        padding-left: 23px;
        padding-right: 23px;
        padding-bottom: 30px;
        @media screen and (max-width:771px){
          position: static;
          margin-top: 30px;
        }
        @media screen and (max-width:446px){
          width: 100%;
        }
        h2{
          font-family: $mainFont;
          font-size: 48px;
          font-weight: 800;
          color: #5b7eff;
          text-transform: uppercase;
          line-height: 33px;
          text-align: center;
          position: relative;
          margin-bottom: 42px;
          @media screen and (max-width:446px){
           font-size:30px;
          }
          &:before{
            content: '';
            position: absolute;
            width: 144px;
            height: 3px;
            background: #5b7eff;
            border-radius: 15px;
            bottom: -16px;
            z-index: 9999;
            left: 50%;
            transform: translate(-50%, 0);
          }
          &:after{
            content: '';
            position: absolute;
            width: 224px;
            background: #d6dfe4;
            height: 1px;
            border-radius: 15px;
            bottom: -15px;
            left: 50%;
            transform: translate(-50%, 0);
          }
          span{
            font-size: 32px;
            color: #00cca7;
            font-weight: 300;
          }
        }
        p{
          color: #828385;
          font-family: $mainFont;
          font-size: 17px;
          font-weight: 400;
          margin-bottom: 11px;
          line-height: 26px;
          span.have{
            color: #4d4d4f;
            display: inline-block;
          }
          img{
            margin-right: 3px;
          }
        }
        p.bottom{
          position: relative;
          margin-bottom: 0;
          &:after{
            content: '';
            position: absolute;
            width: 224px;
            background: #d6dfe4;
            height: 1px;
            border-radius: 15px;
            bottom: -30px;
            left: 50%;
            transform: translate(-50%, 0);
          }
        }
        p.line-h{
          line-height: 35px;
        }
        form{
          margin-top: 65px;
          input,textarea{
            border:0;
            outline: none;
            border-radius: 15px;
            background-color: #ecf0f2;
            width: 100%;
            margin-bottom: 10px;
            text-indent: 19px;
            padding-top: 3px;
            padding-bottom: 3px;
          }
          textarea{
            resize: none;
            height: 90px;
          }
          button{
            width: 110px;
            height: 30px;
            border-radius: 15px;
            background-color: #5b7eff;
            color: #ffffff;
            font-family: $mainFont;
            font-size: 15px;
            font-weight: 400;
            border:0;
            cursor: pointer;
            outline: none;
          }
        }
      }
    }
  }
}