@import "../components/global-header";
@import "../components/global-footer";
@import "../font";
$mainFont: "Tahoma";
$mainFontWeight: 400;
$transform: uppercase;
@mixin font {
  font-family: $mainFont;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.home{
  .content{
    background-color: #f1f7fa;
    padding-top: 65px;
    padding-bottom: 91px;
    .us , .ourCustomers{
      max-width: 795px;
      margin: auto;
      height: 317px;
      border-radius: 5px;
      background-color: #ffffff;
      border-left: 5px solid #5b7eff;
      @media screen and (max-width:991px){
        height: auto !important;
        padding-bottom: 30px;
      }
      .firstBoxOfUs,.ourCustomersContent{
        padding-left: 15px;
        padding-top: 19px;
        p{
          margin-bottom: 0;
          color: #4d4d4f;
          font-family: $mainFont;
          font-size: 16px;
          font-weight: $mainFontWeight;
          line-height: 29px;
        }
        p.relative{
          position: relative;
          .minus{
            height: 2px;
            width: 12px;
            background: #00cca7;
            display: inline-block;
            border-radius: 20px;
            margin-right: 10px;
            margin-bottom: 6px;
          }
          .left{
            display: inline-block;
            margin-left: 22px;
          }
        }
        .read{
          color: #ffffff;
          font-family: $mainFont;
          font-size: 15px;
          font-weight: $mainFontWeight;
          width: 110px;
          height: 30px;
          border: 0;
          border-radius: 15px;
          background-color: #5b7eff;
          cursor: pointer;
          outline: none;
          margin-top: 11px;
        }
      }
    }
    .ourCustomers{
      height: 112px;
      margin-top: 10px;
      .ourCustomersContent{
        p{
          line-height: 26px;
        }
      }
    }
    .countries{
      padding-top: 40px;
      .countriesTitle{
        font-family: Montserrat;
        text-transform: uppercase;
        color: #00cca7;
        font-size: 36px;
        font-weight: 700;
        letter-spacing: -1.44px;
        width: 40%;
        text-align: center;
        margin: auto;
        line-height: 41px;
        position: relative;
        @media screen and (max-width:772px){
          width: 100% !important;
          font-size:26px;
        }
        &:before{
          content: '';
          position: absolute;
          display: inline-block;
          width: 224px;
          background: #d6dfe4;
          height: 1px;
          bottom: -20px;
          border-radius:20px;
          left: 50%;
          transform: translateX(-50%);
        }
        &:after{
          content: '';
          position: absolute;
          display: inline-block;
          border-radius:20px;
          width: 144px;
          background: #5b7eff;
          height: 3px;
          bottom: -21px;
          left: 50%;
          transform: translateX(-50%);
        }
        span{
          letter-spacing: -0.96px;
          font-size: 24px;
          font-weight: 500;
          color:#5b7eff;
        }
      }
      .countriesTitle2{
        width: 45%;
        margin-top: 34px;
      }
      .countriesButtons{
        padding-top: 62px;
        max-width: 795px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .button-country{
          width: 147px;
          height: 40px;
          border-radius: 20px;
          margin-right: 12px;
          background-color: #ffffff;
          margin-bottom: 15px;
          border: 0;
          cursor: pointer;
          transition:.5s ease-in-out;
          color: #5b7eff;
          font-family: $mainFont;
          font-size: 16px;
          font-weight: $mainFontWeight;
          line-height: 6.37px;
          letter-spacing: 0.8px;
          &:hover{
            background-color: #5b7eff;
            color: #FFF;
          }
        }
      }
      .country{
        max-width: 603px;
        height: 85px;
        margin: auto;
        border-radius: 5px;
        background-color: #ffffff;
        border-left: 5px solid #5b7eff;
        margin-top: 45px;
        @media screen and (max-width:991px){
          height: auto !important;
          padding-bottom: 30px;
        }
        .description{
          padding-left: 15px;
          padding-top: 19px;
          p{
            margin-bottom: 0;
            color: #4d4d4f;
            font-family: $mainFont;
            font-size: 16px;
            font-weight: $mainFontWeight;
            line-height: 29px;
            span{
              color: #5b7eff;
            }
          }
        }
      }
      .above{
        max-width: 793px;
        margin: auto;
        border-radius: 5px;
        background-color: #ffffff;
        border-left: 5px solid #5b7eff;
        margin-top: 45px;
        @media screen and (max-width:991px){
          height: auto !important;
          padding-bottom: 30px;
        }
        .description{
          padding-left: 15px;
          padding-top: 19px;
          padding-bottom: 18px;
          width: 99%;
          p{
            margin-bottom: 0;
            color: #4d4d4f;
            font-family: $mainFont;
            font-size: 16px;
            font-weight: $mainFontWeight;
            line-height: 29px;
          }
        }
      }
    }
  }
}


