@import "../components/global-header";
@import "../components/global-footer";
@import "../components/components";
@import "../font";
$mainFont: "Tahoma";
$mainFontWeight: 400;
$transform: uppercase;
@mixin font {
  font-family: $mainFont;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header{
  height: 360px;
  align-items: flex-end;
  .content{
    max-width: 1000px;
    margin: auto;
    padding-bottom: 60px;
    .headerTitle{
      width: 50%;
      text-align: left;
      margin: 0;
    }
  }
}

.wizard02{
  .content{
    padding-top: 66px;
    padding-bottom: 50px;
    background-color: #f1f7fa;
    .documents{
      max-width:995px;
      border-radius:5px;
      background: #FFF;
      margin: auto;
      padding-bottom: 20px;
      @media screen and (max-width:991px){
        height: auto;
        padding-bottom: 40px;
      }
      .document{
        max-width: 887px;
        margin: auto;
        padding-top: 30px;
        @media screen and (max-width:991px){
          padding-right: 30px;
          padding-left: 30px;
        }
        .chose{
          margin-top: 61px;
          @media screen and (max-width:991px){
            margin-top: 0;
          }
          .please{
            color: #5b7eff;
            font-family: $mainFont;
            font-size: 48px;
            text-transform: uppercase;
            font-weight: 800;
            width: 48%;
            line-height: 36px;
            position: relative;
            @media screen and (max-width:991px){
              width: 100%;
              font-size:32px;
            }
            &:before{
              content: '';
              position: absolute;
              width: 144px;
              height: 3px;
              background: #5b7eff;
              border-radius:15px;
              bottom: -16px;
              left: 0;
            }
            &:after{
              content: '';
              position: absolute;
              width: 224px;
              background: #d6dfe4;
              height: 1px;
              border-radius:15px;
              bottom: -15px;
              left: 0;
            }
            .ab{
              color: #00cca7;
              font-size: 32px;
              font-weight: 300;
              line-height: 30px;
              span.or{
                text-transform: lowercase;
              }
            }

          }
        }
        .letters{
          padding-top: 34px;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          @media screen and (max-width:991px){
            justify-content: center;
          }
          .letter{
            width: 285px;
            height: 160px;
            background-color: #ffffff;
            text-align: center;
            box-shadow: -5px 5px 6px #e9eef1;
            border-radius: 5px;
            margin-bottom: 20px;
            @media screen and (max-width:991px){
              width: 55%;
              margin-bottom: 30px;
            }
            @media screen and (max-width:771px){
              width: 100%;
            }
            @media screen and (max-width:344px){
              height: auto;
              padding-bottom: 30px;
            }
            h3{
              font-family: $mainFont;
              color: #e9eef1;
              font-size: 32px;
              font-weight: $mainFontWeight;
              text-transform: uppercase;
              padding-top: 20px;
              margin-bottom: 0;
            }
            p{
              color: #828385;
              font-family: $mainFont;
              font-size: 16px;
              font-weight: $mainFontWeight;
              margin: auto;
              width: 89%;
            }
          }
          .letter.letterD{
            border-left: 5px solid #5b7eff;
            height: auto !important;
            padding-bottom: 20px;
            position: relative;
            img{
              position: absolute;
              right: 7px;
              top: 8px;
            }
            h3{
              color: #00cca7;
            }
            p{
              width: 95%;
            }
          }
        }
        .nextPrev{
          display: flex;
          justify-content: space-between;
          margin-top: 22px;
          button{
            width: 110px;
            height: 30px;
            border-radius: 15px;
            border: 0;
            outline: none;
            cursor: pointer;
            color: #ffffff;
            @include font;
            text-transform: uppercase;
          }
          .next{
            background-color: #5b7eff;
          }
          .prev{
            background-color: #e9eef1;
          }
        }
      }
    }
  }
}