@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
.mainHeader {
  height: 65px; }
  @media screen and (max-width: 991px) {
    .mainHeader {
      height: auto; } }
  .mainHeader .bg-light {
    background-color: #5b7eff !important;
    padding: 0 1rem;
    height: 100%; }
    @media screen and (max-width: 991px) {
      .mainHeader .bg-light {
        padding: .5rem 1rem; } }
    .mainHeader .bg-light .navbar-nav {
      display: flex;
      align-items: center;
      padding-right: 53px; }
      @media screen and (max-width: 991px) {
        .mainHeader .bg-light .navbar-nav {
          padding-right: 0; } }
    .mainHeader .bg-light .nav-item.transparent {
      border-bottom: 4px solid transparent; }
      .mainHeader .bg-light .nav-item.transparent:hover {
        border-bottom: 4px solid #00cca7; }
    .mainHeader .bg-light .nav-item {
      margin-left: 30px;
      transition: .5s ease-in-out; }
      @media screen and (max-width: 991px) {
        .mainHeader .bg-light .nav-item {
          margin-left: 0;
          margin-bottom: 20px; } }
      .mainHeader .bg-light .nav-item .nav-link {
        color: #5b7eff;
        font-family: "Tahoma";
        font-size: 15px;
        font-weight: 400;
        text-transform: uppercase;
        padding: 19px 1rem; }
      .mainHeader .bg-light .nav-item .nav-links {
        background-image: linear-gradient(to right, #ffffff 0%, #5b7eff 100%);
        -webkit-background-clip: text; }
    .mainHeader .bg-light .nav-item.button {
      width: 110px;
      height: 30px;
      border-radius: 15px;
      background-color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 57px;
      border: 0; }
      @media screen and (max-width: 991px) {
        .mainHeader .bg-light .nav-item.button {
          margin-left: 0; } }
      .mainHeader .bg-light .nav-item.button .nav-link {
        padding: 0;
        color: #00cca7; }
        .mainHeader .bg-light .nav-item.button .nav-link i {
          margin-right: 5px; }
    .mainHeader .bg-light .nav-item.active > .nav-link {
      color: #ffffff;
      border-bottom: 4px solid #00cca7; }

.header {
  height: 480px;
  background-image: linear-gradient(to bottom, #00cca7 0%, #5b7eff 100%);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; }
  .header img {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%; }
  .header .content {
    width: 100%;
    position: relative; }
    .header .content .headerTitle {
      color: #f6f6f6;
      font-family: "Tahoma";
      font-size: 48px;
      font-weight: 800;
      text-transform: uppercase;
      width: 40%;
      margin: auto;
      text-align: center;
      line-height: 36px; }
      @media screen and (max-width: 991px) {
        .header .content .headerTitle {
          width: 100%;
          font-size: 30px; } }
      .header .content .headerTitle span {
        font-size: 32px;
        font-weight: 300; }
        @media screen and (max-width: 991px) {
          .header .content .headerTitle span {
            width: 100%;
            font-size: 22px; } }

.globalFooter {
  height: 290px;
  background-color: #040d2e; }
  @media screen and (max-width: 725px) {
    .globalFooter {
      height: auto; } }
  .globalFooter .footer {
    max-width: 1000px;
    margin: auto;
    display: flex;
    padding-top: 59px;
    border-bottom: 1px solid #1e2f6d;
    padding-bottom: 15px;
    flex-wrap: wrap; }
    .globalFooter .footer .footer-links {
      width: 20%; }
      @media screen and (max-width: 725px) {
        .globalFooter .footer .footer-links {
          width: 100%; } }
      .globalFooter .footer .footer-links li.first-link {
        color: #ffffff;
        font-family: "Tahoma";
        font-size: 16px;
        font-weight: 500; }
      .globalFooter .footer .footer-links li.second-link {
        margin-top: 24px; }
      .globalFooter .footer .footer-links li.link {
        color: #2d3450;
        font-family: "Tahoma";
        font-size: 16px;
        font-weight: 300; }
        @media screen and (max-width: 1054px) {
          .globalFooter .footer .footer-links li.link img {
            width: 100%; } }
        @media screen and (max-width: 725px) {
          .globalFooter .footer .footer-links li.link img {
            width: auto; } }
      .globalFooter .footer .footer-links li.special {
        color: #00cca7; }
  .globalFooter .copyRight {
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap; }
    .globalFooter .copyRight .right p {
      color: #f6f6f6;
      font-family: "Tahoma";
      font-size: 16px;
      font-weight: 300; }
      .globalFooter .copyRight .right p span {
        color: #00cca7; }
    .globalFooter .copyRight .privacy {
      margin-top: 1px; }
      .globalFooter .copyRight .privacy p {
        color: #f6f6f6;
        font-family: "Tahoma";
        font-size: 16px;
        font-weight: 300; }
        .globalFooter .copyRight .privacy p span {
          margin-right: 37px; }

.content .documents .document .customProgress {
  display: flex; }
  .content .documents .document .customProgress .prg {
    width: 25%;
    height: 25px;
    position: relative;
    transition: .5s;
    background: #e9eef1; }
    .content .documents .document .customProgress .prg img {
      position: absolute;
      right: 6px;
      bottom: -6px;
      cursor: pointer; }
    .content .documents .document .customProgress .prg .background {
      position: absolute;
      transition: .5s;
      background: #00cca7;
      height: 100%; }
  .content .documents .document .customProgress .prg1 {
    background: #00cca7;
    border-radius: 15px;
    z-index: 99; }
  .content .documents .document .customProgress .prg2 {
    margin-left: -8px; }
  .content .documents .document .customProgress .prg3, .content .documents .document .customProgress .prg4 {
    margin-left: -1px; }
  .content .documents .document .customProgress .prg4 {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px; }
.content .documents .document .numbers {
  padding-top: 23px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .content .documents .document .numbers .number {
    width: 23%; }
    @media screen and (max-width: 991px) {
      .content .documents .document .numbers .number {
        width: auto;
        margin-bottom: 30px; } }
    @media screen and (max-width: 500px) {
      .content .documents .document .numbers .number {
        width: 51%; } }
    .content .documents .document .numbers .number h2.active span.nub {
      color: #00cca7; }
    .content .documents .document .numbers .number h2.active span.step {
      color: #5b7eff; }
    .content .documents .document .numbers .number h2.active span.doc {
      color: #5b7eff; }
    .content .documents .document .numbers .number h2.active:before {
      content: '';
      position: absolute;
      width: 45px;
      background: #00cca7 !important;
      height: 3px;
      border-radius: 15px;
      bottom: 0;
      left: 5px;
      z-index: 99999 !important; }
    .content .documents .document .numbers .number h2 {
      display: flex;
      align-items: center;
      position: relative;
      cursor: pointer; }
      .content .documents .document .numbers .number h2:before {
        content: '';
        position: absolute;
        width: 45px;
        height: 3px;
        border-radius: 15px;
        bottom: 0;
        left: 5px; }
      .content .documents .document .numbers .number h2:after {
        content: '';
        position: absolute;
        width: 100%;
        background: #d6dfe4;
        height: 1px;
        border-radius: 15px;
        bottom: 1px;
        left: 5px; }
      .content .documents .document .numbers .number h2 span {
        font-family: Montserrat;
        text-transform: uppercase;
        display: inline-block; }
      .content .documents .document .numbers .number h2 span.nub {
        font-size: 48px;
        font-weight: 700;
        letter-spacing: -1.54px;
        margin-right: 6px; }
      .content .documents .document .numbers .number h2 span.step {
        font-size: 14px;
        font-weight: 500;
        letter-spacing: -0.56px;
        display: block; }
      .content .documents .document .numbers .number h2 span.doc {
        font-size: 24px;
        font-weight: 700;
        letter-spacing: -0.96px;
        display: block; }
  .content .documents .document .numbers .number.custom h2:before {
    background: #e9eef1; }
  .content .documents .document .numbers .number.custom h2 span {
    color: #e9eef1; }
  .content .documents .document .numbers .number.custom h2 span.order {
    font-size: 18px; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.contactUs .content {
  background-color: #f1f7fa;
  height: 883px; }
  @media screen and (max-width: 771px) {
    .contactUs .content {
      height: auto;
      padding-bottom: 50px; } }
  .contactUs .content .contact {
    position: relative; }
    .contactUs .content .contact .googleMap {
      height: 580px; }
      .contactUs .content .contact .googleMap iframe {
        width: 100%;
        height: 100%; }
    .contactUs .content .contact .contactForm {
      width: 387px;
      border-radius: 5px;
      background-color: #ffffff;
      box-shadow: 0px 5px 0px #e9eef1;
      border-left: 5px solid #5b7eff;
      position: absolute;
      top: 178px;
      left: 100px;
      padding-top: 30px;
      padding-left: 23px;
      padding-right: 23px;
      padding-bottom: 30px; }
      @media screen and (max-width: 771px) {
        .contactUs .content .contact .contactForm {
          position: static;
          margin-top: 30px; } }
      @media screen and (max-width: 446px) {
        .contactUs .content .contact .contactForm {
          width: 100%; } }
      .contactUs .content .contact .contactForm h2 {
        font-family: "Tahoma";
        font-size: 48px;
        font-weight: 800;
        color: #5b7eff;
        text-transform: uppercase;
        line-height: 33px;
        text-align: center;
        position: relative;
        margin-bottom: 42px; }
        @media screen and (max-width: 446px) {
          .contactUs .content .contact .contactForm h2 {
            font-size: 30px; } }
        .contactUs .content .contact .contactForm h2:before {
          content: '';
          position: absolute;
          width: 144px;
          height: 3px;
          background: #5b7eff;
          border-radius: 15px;
          bottom: -16px;
          z-index: 9999;
          left: 50%;
          transform: translate(-50%, 0); }
        .contactUs .content .contact .contactForm h2:after {
          content: '';
          position: absolute;
          width: 224px;
          background: #d6dfe4;
          height: 1px;
          border-radius: 15px;
          bottom: -15px;
          left: 50%;
          transform: translate(-50%, 0); }
        .contactUs .content .contact .contactForm h2 span {
          font-size: 32px;
          color: #00cca7;
          font-weight: 300; }
      .contactUs .content .contact .contactForm p {
        color: #828385;
        font-family: "Tahoma";
        font-size: 17px;
        font-weight: 400;
        margin-bottom: 11px;
        line-height: 26px; }
        .contactUs .content .contact .contactForm p span.have {
          color: #4d4d4f;
          display: inline-block; }
        .contactUs .content .contact .contactForm p img {
          margin-right: 3px; }
      .contactUs .content .contact .contactForm p.bottom {
        position: relative;
        margin-bottom: 0; }
        .contactUs .content .contact .contactForm p.bottom:after {
          content: '';
          position: absolute;
          width: 224px;
          background: #d6dfe4;
          height: 1px;
          border-radius: 15px;
          bottom: -30px;
          left: 50%;
          transform: translate(-50%, 0); }
      .contactUs .content .contact .contactForm p.line-h {
        line-height: 35px; }
      .contactUs .content .contact .contactForm form {
        margin-top: 65px; }
        .contactUs .content .contact .contactForm form input, .contactUs .content .contact .contactForm form textarea {
          border: 0;
          outline: none;
          border-radius: 15px;
          background-color: #ecf0f2;
          width: 100%;
          margin-bottom: 10px;
          text-indent: 19px;
          padding-top: 3px;
          padding-bottom: 3px; }
        .contactUs .content .contact .contactForm form textarea {
          resize: none;
          height: 90px; }
        .contactUs .content .contact .contactForm form button {
          width: 110px;
          height: 30px;
          border-radius: 15px;
          background-color: #5b7eff;
          color: #ffffff;
          font-family: "Tahoma";
          font-size: 15px;
          font-weight: 400;
          border: 0;
          cursor: pointer;
          outline: none; }

/*# sourceMappingURL=contact.css.map */
