@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
.loading-overlay{
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-overlay i {
  font-size: 50px;
  color: #ffffff;
}

.mainHeader {
  height: 65px; }
  @media screen and (max-width: 991px) {
    .mainHeader {
      height: auto; } }
  .mainHeader .bg-light {
    background-color: #5b7eff !important;
    padding: 0 1rem;
    height: 100%; }
    @media screen and (max-width: 991px) {
      .mainHeader .bg-light {
        padding: .5rem 1rem; } }
    .mainHeader .bg-light .navbar-nav {
      display: flex;
      align-items: center;
      padding-right: 53px; }
      @media screen and (max-width: 991px) {
        .mainHeader .bg-light .navbar-nav {
          padding-right: 0; } }
    .mainHeader .bg-light .nav-item.transparent {
      border-bottom: 4px solid transparent; }
      .mainHeader .bg-light .nav-item.transparent:hover {
        border-bottom: 4px solid #00cca7; }
    .mainHeader .bg-light .nav-item {
      margin-left: 30px;
      transition: .5s ease-in-out; }
      @media screen and (max-width: 991px) {
        .mainHeader .bg-light .nav-item {
          margin-left: 0;
          margin-bottom: 20px; } }
      .mainHeader .bg-light .nav-item .nav-link {
        color: #5b7eff;
        font-family: "Tahoma";
        font-size: 15px;
        font-weight: 400;
        text-transform: uppercase;
        padding: 19px 1rem; }
      .mainHeader .bg-light .nav-item .nav-links {
        background-image: linear-gradient(to right, #ffffff 0%, #5b7eff 100%);
        -webkit-background-clip: text; }
    .mainHeader .bg-light .nav-item.button {
      width: 110px;
      height: 30px;
      border-radius: 15px;
      background-color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 57px;
      border: 0; }
      @media screen and (max-width: 991px) {
        .mainHeader .bg-light .nav-item.button {
          margin-left: 0; } }
      .mainHeader .bg-light .nav-item.button .nav-link {
        padding: 0;
        color: #00cca7; }
        .mainHeader .bg-light .nav-item.button .nav-link i {
          margin-right: 5px; }
    .mainHeader .bg-light .nav-item.active > .nav-link {
      color: #ffffff;
      border-bottom: 4px solid #00cca7; }

.header {
  height: 480px;
  background-image: linear-gradient(to bottom, #00cca7 0%, #5b7eff 100%);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; }
  .header img {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%; }
  .header .content {
    width: 100%;
    position: relative; }
    .header .content .headerTitle {
      color: #f6f6f6;
      font-family: "Tahoma";
      font-size: 48px;
      font-weight: 800;
      text-transform: uppercase;
      width: 40%;
      margin: auto;
      text-align: center;
      line-height: 36px; }
      @media screen and (max-width: 991px) {
        .header .content .headerTitle {
          width: 100%;
          font-size: 30px; } }
      .header .content .headerTitle span {
        font-size: 32px;
        font-weight: 300; }
        @media screen and (max-width: 991px) {
          .header .content .headerTitle span {
            width: 100%;
            font-size: 22px; } }

.globalFooter {
  height: 290px;
  background-color: #040d2e; }
  @media screen and (max-width: 725px) {
    .globalFooter {
      height: auto; } }
  .globalFooter .footer {
    max-width: 1000px;
    margin: auto;
    display: flex;
    padding-top: 59px;
    border-bottom: 1px solid #1e2f6d;
    padding-bottom: 15px;
    flex-wrap: wrap; }
    .globalFooter .footer .footer-links {
      width: 20%; }
      @media screen and (max-width: 725px) {
        .globalFooter .footer .footer-links {
          width: 100%; } }
      .globalFooter .footer .footer-links li.first-link {
        color: #ffffff;
        font-family: "Tahoma";
        font-size: 16px;
        font-weight: 500; }
      .globalFooter .footer .footer-links li.second-link {
        margin-top: 24px; }
      .globalFooter .footer .footer-links li.link {
        color: #2d3450;
        font-family: "Tahoma";
        font-size: 16px;
        font-weight: 300; }
        @media screen and (max-width: 1054px) {
          .globalFooter .footer .footer-links li.link img {
            width: 100%; } }
        @media screen and (max-width: 725px) {
          .globalFooter .footer .footer-links li.link img {
            width: auto; } }
      .globalFooter .footer .footer-links li.special {
        color: #00cca7; }
  .globalFooter .copyRight {
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap; }
    .globalFooter .copyRight .right p {
      color: #f6f6f6;
      font-family: "Tahoma";
      font-size: 16px;
      font-weight: 300; }
      .globalFooter .copyRight .right p span {
        color: #00cca7; }
    .globalFooter .copyRight .privacy {
      margin-top: 1px; }
      .globalFooter .copyRight .privacy p {
        color: #f6f6f6;
        font-family: "Tahoma";
        font-size: 16px;
        font-weight: 300; }
        .globalFooter .copyRight .privacy p span {
          margin-right: 37px; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.home .content {
  background-color: #f1f7fa;
  padding-top: 65px;
  padding-bottom: 50px; }
  .home .content .us, .home .content .ourCustomers {
    max-width: 795px;
    margin: auto;
    margin-bottom: 40px;
    padding-right: 15px;
    padding-left: 10px;
    padding-top: 26px;
    padding-bottom: 30px;
    border-radius: 5px;
    background-color: #ffffff;
    border-left: 5px solid #5b7eff; }
    @media screen and (max-width: 991px) {
      .home .content .us, .home .content .ourCustomers {
        height: auto !important;
        padding-bottom: 30px; } }
    .home .content .us .firstBoxOfUs, .home .content .us .ourCustomersContent, .home .content .ourCustomers .firstBoxOfUs, .home .content .ourCustomers .ourCustomersContent {
      padding-left: 15px;
    }
      .home .content .us .firstBoxOfUs p, .home .content .us .ourCustomersContent p, .home .content .ourCustomers .firstBoxOfUs p, .home .content .ourCustomers .ourCustomersContent p {
        margin-bottom: 0;
        color: #4d4d4f;
        font-family: "Tahoma";
        font-size: 16px;
        font-weight: 400;
        line-height: 29px; }
      .home .content .us .firstBoxOfUs p.relative, .home .content .us .ourCustomersContent p.relative, .home .content .ourCustomers .firstBoxOfUs p.relative, .home .content .ourCustomers .ourCustomersContent p.relative {
        position: relative; }
        .home .content .us .firstBoxOfUs p.relative .minus, .home .content .us .ourCustomersContent p.relative .minus, .home .content .ourCustomers .firstBoxOfUs p.relative .minus, .home .content .ourCustomers .ourCustomersContent p.relative .minus {
          height: 2px;
          width: 12px;
          background: #00cca7;
          display: inline-block;
          border-radius: 20px;
          margin-right: 10px;
          margin-bottom: 6px; }
        .home .content .us .firstBoxOfUs p.relative .left, .home .content .us .ourCustomersContent p.relative .left, .home .content .ourCustomers .firstBoxOfUs p.relative .left, .home .content .ourCustomers .ourCustomersContent p.relative .left {
          display: inline-block;
          margin-left: 22px; }
      .home .content .us .firstBoxOfUs .read, .home .content .us .ourCustomersContent .read, .home .content .ourCustomers .firstBoxOfUs .read, .home .content .ourCustomers .ourCustomersContent .read {
        color: #ffffff;
        font-family: "Tahoma";
        font-size: 15px;
        font-weight: 400;
        width: 110px;
        height: 30px;
        border: 0;
        border-radius: 15px;
        background-color: #5b7eff;
        cursor: pointer;
        outline: none;
        margin-top: 11px; }
  .home .content .ourCustomers {
    height: 112px;
    margin-top: 10px; }
    .home .content .ourCustomers .ourCustomersContent p {
      line-height: 26px; }
    .home .content .countries .countriesTitle {
      font-family: Montserrat;
      text-transform: uppercase;
      color: #00cca7;
      font-size: 36px;
      font-weight: 700;
      letter-spacing: -1.44px;
      width: 40%;
      text-align: center;
      margin: auto;
      line-height: 41px;
      position: relative; }
      @media screen and (max-width: 772px) {
        .home .content .countries .countriesTitle {
          width: 100% !important;
          font-size: 26px; } }
      .home .content .countries .countriesTitle:before {
        content: '';
        position: absolute;
        display: inline-block;
        width: 224px;
        background: #d6dfe4;
        height: 1px;
        bottom: -20px;
        border-radius: 20px;
        left: 50%;
        transform: translateX(-50%); }
      .home .content .countries .countriesTitle:after {
        content: '';
        position: absolute;
        display: inline-block;
        border-radius: 20px;
        width: 144px;
        background: #5b7eff;
        height: 3px;
        bottom: -21px;
        left: 50%;
        transform: translateX(-50%); }
      .home .content .countries .countriesTitle span {
        letter-spacing: -0.96px;
        font-size: 24px;
        font-weight: 500;
        color: #5b7eff; }
    .home .content .countries .countriesTitle2 {
      width: auto;
      display: flex;
      margin-bottom: 54px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .home .content .countries .countriesButtons {
      max-width: 795px;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 40px;
      justify-content: center; }
      .home .content .countries .countriesButtons .button-country {
        width: 147px;
        height: 40px;
        border-radius: 20px;
        margin-right: 12px;
        background-color: #ffffff;
        margin-bottom: 15px;
        border: 0;
        cursor: pointer;
        transition: .5s ease-in-out;
        color: #5b7eff;
        font-family: "Tahoma";
        font-size: 16px;
        font-weight: 400;
        line-height: 6.37px;
        letter-spacing: 0.8px; }
        .home .content .countries .countriesButtons .button-country:hover {
          background-color: #5b7eff;
          color: #FFF; }
    .home .content .country {
      max-width: 603px;
      height: 85px;
      margin: auto;
      margin-bottom: 40px;
      border-radius: 5px;
      background-color: #ffffff;
      border-left: 5px solid #5b7eff;
      margin-top: 45px; }
      @media screen and (max-width: 991px) {
        .home .content .country {
          height: auto !important;
          padding-bottom: 30px; } }
      .home .content .country .description {
        padding-left: 15px;
        padding-top: 19px; }
        .home .content .country .description p {
          margin-bottom: 0;
          color: #4d4d4f;
          font-family: "Tahoma";
          font-size: 16px;
          font-weight: 400;
          line-height: 29px; }
          .home .content .country .description p span {
            color: #5b7eff; }
    .home .content .countries .above {
      max-width: 793px;
      margin: auto;
      border-radius: 5px;
      background-color: #ffffff;
      border-left: 5px solid #5b7eff;
      margin-top: 45px; }
      @media screen and (max-width: 991px) {
        .home .content .countries .above {
          height: auto !important;
          padding-bottom: 30px; } }
      .home .content .countries .above .description {
        padding-left: 15px;
        padding-top: 19px;
        padding-bottom: 18px;
        width: 99%; }
        .home .content .countries .above .description p {
          margin-bottom: 0;
          color: #4d4d4f;
          font-family: "Tahoma";
          font-size: 16px;
          font-weight: 400;
          line-height: 29px; }

/*# sourceMappingURL=home.css.map */
